/* pokemonOverlay.css */

.pokemon-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Dimming background */
    z-index: 1000; /* Ensures overlay is on top */
    flex-direction: column; 
}

.overlay-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%; /* Full width of the container */
}

.overlay-windows {
    z-index: 2; /* Above the pseudo-element */
    justify-content: center; /* This ensures that the children (windows) are centered */
    flex-wrap: wrap; /* Allows wrapping if needed */
    gap: 10px; /* Adjust as needed - adds a gap between window elements */
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.universal-close-button {
    position: fixed; /* or absolute, depending on your layout */
    top: 10px; /* Adjust the value as needed */
    right: 10px; /* Adjust the value as needed */
    background: none;
    border: none;
    font-size: 24px;
    color: white; /* Or any color that makes the button visible against your background */
    cursor: pointer;
    z-index: 100; /* Make sure it's above all overlay content */
  }
  



