/* pokemonList.css */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures space distribution between elements */
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 4px 2px -2px rgb(168, 168, 168);
}

/* Dynamically adjust the header when collectUI is shown */
.header.expand-collect {
    justify-content: flex-start; /* Align items to the start to make space */
}

.header.expand-collect .collect-ui-toggle,
.header.expand-collect .filter-ui,
.header.expand-collect .search-ui {
    flex-shrink: 0; /* Prevent these items from shrinking */
}

.header.expand-collect .toggle-button {
    margin-right: auto; /* Pushes all non-critical elements to the right */
}

.toggle-button, .collect-ui-toggle {
    background: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 5px 10px; /* Adjust padding to save space */
    flex-shrink: 0; /* Prevents the button from shrinking */
}

.search-ui {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0; /* Allows this section to shrink beyond its content size */
    margin-right: 10px; /* Ensure some space on the right */
}

.filter-ui, .collect-ui {
    position: absolute;
    top: 100%; /* Position directly below the header */
    width: 100%;
    transition: transform 0.3s ease-in-out;
    will-change: transform; /* Optimizes the animation performance */
    background-color: #333; /* Match the header background */
    color: white; /* Match the header text color */
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    z-index: 1000;
    padding: 10px;
}

/* Slide in from the left */
.filter-ui {
    left: 0;
    transform: translateX(-100%); /* Start hidden to the left */
}

/* Slide in from the right */
.collect-ui {
    right: 0;
    transform: translateX(100%); /* Start hidden to the right */
}

/* Modify transform when shown */
.show-filter .filter-ui {
    transform: translateX(0); /* Slide in to view */
}

.show-collect .collect-ui {
    transform: translateX(0); /* Slide in to view */
}

.filter-section, .collect-section {
    flex: 3;  /* each takes up 3/11th of the space */
}

.search-section {
    flex: 5;  /* takes up 5/11ths of the space */
}

.pokemon-container {
    background-color: #111;
    display: grid;
    grid-template-columns: repeat(9, 1fr); 
    gap: 16px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* Adjusts to full width of the viewport */
}

/* Ensure CollectUI is always visible and positioned correctly */
.collect-ui {
    z-index: 1010; /* Higher than other elements */
    position: absolute; /* Position it over other elements if needed */
    right: 0; /* Align to the right side */
    width: 100%; /* Full width to cover all content */
}

@media (max-width: 480px) {
    .pokemon-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 5px;
        width: calc(100vw - 20px);
        gap: 6px;
    }
    .type-icons img {
        width: 20px;
        height: 20px;
    }
    .header {
        padding: 5px 10px; /* Reduced overall padding */
        margin-bottom: 2px;
    }

    .search-section input, 
    .search-section button {
        font-size: 10px; /* Reduce font size to decrease element size */
    }

    .search-section input {
        width: 50%; /* Reduce input width */
        margin-right: 2px; /* Adjust spacing between input and buttons */
        padding: 2px 5px; /* Reduce padding inside input */
    }

    .search-section button {
        margin: 0 2px; /* Reduce space between buttons */
        padding: 2px; /* Reduce button padding to decrease size */
    }

    .search-section button img {
        width: 15px; /* Reduce image/icon size */
        height: 15px;
    }

    /* Adjust the header's after pseudo-element to act as a visual divider */
    .header::after {
        width: 1px; /* Make the divider thinner on smaller screens */
        left: calc(50% - 1px); /* Ensure the divider stays centered */
    }

    .header.expand-collect .toggle-button:not(.collect-ui-toggle) {
        display: none; /* Hide non-critical toggle buttons on smaller screens */
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .pokemon-container {
        grid-template-columns: repeat(6, 1fr);
        padding: 5px;
        width: calc(100vw - 20px); /* Adjust width if necessary */
        gap: 6px;
    }

    /* Adjustments for search UI in the pokemon list context */
    .search-ui input,
    .search-ui button {
        font-size: 10px;
    }

    .search-ui input {
        width: auto; /* allow the input to be flexible */
        margin-right: 2px;
        padding: 2px 5px;
    }

    .search-ui button {
        margin: 0 2px;
        padding: 2px;
    }

    .search-ui button img {
        width: 15px;
        height: 15px;
    }

    /* Ensure the collect section is not pushed off screen */
    .collect-section {
        padding-left: 2px;
        justify-content: center; /* Center the content in the available space */
    }

    /* Adjust the header's after pseudo-element to act as a visual divider */
    .header::after {
        width: 1px; /* Make the divider thinner on smaller screens */
        left: calc(50% - 1px); /* Ensure the divider stays centered */
    }
    .header.expand-collect .toggle-button:not(.collect-ui-toggle) {
        display: none; /* Hide non-critical toggle buttons on smaller screens */
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    .pokemon-container {
        grid-template-columns: repeat(6, 1fr);
        padding: 10px;
        width: calc(100vw - 20px); /* Adjust width if necessary */
        gap: 9px;
    }

    .search-ui input, 
    .search-ui button {
        font-size: 12px; /* Slightly increased font size */
    }

    .search-ui input {
        width: auto; /* Auto width for flexibility */
        margin-right: 4px; /* Adjusted spacing between input and buttons */
        padding: 4px 7px; /* Slightly increased padding inside input */
    }

    .search-ui button {
        margin: 0 4px; /* Slightly increased space between buttons */
        padding: 4px 8px; /* Slightly increased button padding */
    }

    .search-ui button img {
        width: 20px; /* Slightly larger image/icon size */
        height: 20px;
    }

    /* Adjust the collect section for tablet size */
    .collect-section {
        padding-left: 4px;
        justify-content: center; /* Keep the content centered */
    }

    /* Adjust the header's after pseudo-element to act as a visual divider */
    .header::after {
        width: 2px; /* Adjust divider thickness if needed */
    }
}


@media (min-width: 1024px) {
    .filter-ui, .collect-ui {
        transform: translateX(0); /* Always show UI elements */
    }

    /* Hide toggle buttons as they are not needed */
    .toggle-button, .collect-ui-toggle {
        display: none;
    }
    .pokemon-container {
        grid-template-columns: repeat(9, 1fr);
        padding: 10px;
        width: calc(100vw - 10px); /* Adjust width if necessary */
        gap: 9px;
    }

    .search-ui input, 
    .search-ui button {
        font-size: 14px; /* Further increased font size */
    }

    .search-ui input {
        padding: 6px 10px; /* Further increased padding inside input */
    }

    .search-ui button {
        padding: 6px 10px; /* Further increased button padding */
    }

    .search-ui button img {
        width: 25px; /* Further increased image/icon size */
        height: 25px;
    }

    /* Adjust the header's after pseudo-element to act as a visual divider */
    .header::after {
        width: 2px; /* Ensure the divider is visible */
        left: 50%; /* Ensure the divider stays centered */
    }
}