/* BackgroundSelector.css */

/* ---------------------- Background Picker ---------------------- */
.background-select-row {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.background-icon {
  position: absolute;
  width: 44px;
  height: 44px;
  z-index: 10;
  object-fit: contain;
}

.background-select-row.active .background-icon {
  cursor: pointer;
}
