/* PowerPanel.css */

/* ---------------------- Max / Mega ---------------------- */
.max-mega-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.max-mega-container--mega-only {
  justify-content: center;
}

.max-component,
.mega-component {
  flex: 1;
}

.max-mega-container--mega-only .mega-component {
  flex: 0 1 auto;
}
