/* ListView.responsive.css */

@media (max-width: 480px) {
  .list-view-row {
    flex-direction: column;
    width: 93%;
  }
  .list-view-row .left-column, .list-view-row .right-column {
    width: 90%
  }
  .list-view-row .center-column, .list-view-row .right-column {
    width: 100%
  }
  .list-view-row .center-column .pokemon-image-container .pokemon-image, .list-view-row .center-column .pokemon-single-column .pokemon-image, .list-view-row .center-column .pokemon-columns .pokemon-image {
    height: 120px;
    width: 120px;
  }
  .list-view-row .center-column .card {
    height: unset;
  }
}
  
@media (min-width: 481px) and (max-width: 767px) {
  .list-view-row {
    flex-direction: column;
      width: 95%;
    }
    .list-view-row .left-column, .list-view-row .right-column {
      width: 90%
    }
    .list-view-row .center-column, .list-view-row .right-column {
      width: 100%
    }
    .list-view-row .center-column .pokemon-image-container .pokemon-image, .list-view-row .center-column .pokemon-single-column .pokemon-image, .list-view-row .center-column .pokemon-columns .pokemon-image {
    height: 180px;
    width: 180px;
  }
  .list-view-row .center-column .card {
    height: unset;
  }
  }
  
@media (min-width: 768px) and (max-width: 1023px) {
  .list-view-row {
    flex-direction: column;
    width: 97%;
  }
  .list-view-row .left-column, .list-view-row .right-column {
    width: 95%
  }
  .list-view-row .center-column, .list-view-row .right-column {
    width: 100%
  }
  .list-view-row .center-column .pokemon-image-container .pokemon-image, .list-view-row .center-column .pokemon-single-column .pokemon-image, .list-view-row .center-column .pokemon-columns .pokemon-image {
    height: 200px;
    width: 200px;
  }
  .list-view-row .center-column .card {
    height: unset;
  }
}
  
  @media (min-width: 1024px) and (max-width: 1439px){
    .list-view-row {
      width: 98%;
    }
    .list-view-row .center-column .pokemon-image-container .pokemon-image, .list-view-row .center-column .pokemon-single-column .pokemon-image, .list-view-row .center-column .pokemon-columns .pokemon-image {
      height: 145px;
      width: 145px;
    }
    .list-view-row .left-column {
      margin-left: 10px;
    }
  }
  
  @media (min-width: 1440px) {
    .list-view-row {
      width: 99%;
    }
    .list-view-row .left-column {
      margin-left: 10px;
    }
    .list-view-row .center-column .pokemon-image-container .pokemon-image, .list-view-row .center-column .pokemon-single-column .pokemon-image, .list-view-row .center-column .pokemon-columns .pokemon-image {
      max-width: 100%;
      z-index: 2;
      position: relative;
      height: auto;
    }
  }  
