/* CPComponent.css */
.cp-component-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative; /* Positioning context for the absolute elements */
}

.cp-display {
    width: 100%; /* Use the full width to center the content */
}

.cp-center-content {
    display: flex;
    align-items: flex-end; /* Align items to the bottom */
    justify-content: center;
}

.cp-label {
    font-size: 12px;
    line-height: 1; /* Reduce line height to minimize excess space */
    margin-bottom: 3.75px; /* Ensure no bottom margin is affecting alignment */
    margin-top: 12px;
}

.cp-editable-content {
    outline: none; /* Remove focus outline */
    background: transparent; /* Ensure no background color */
    border: 1px solid transparent; /* Keep the border but make it transparent when not editable */
    font-size: 20px;
    line-height: 20px;
    box-sizing: border-box; /* Includes padding and border in the element's size calculations */
    display: inline-block; /* Display as inline-block */
    min-width: 10px; /* Minimum width to handle smaller numbers or empty space */
}

.cp-editable-container.editable .cp-editable-content {
    border-color: #a3a3a3; /* Apply a visible border color when editable */
    border-radius: 2px; /* Rounded corners for aesthetic */
}


