/* CancelledTradeView.css */

.cancelled-trade-view .re-propose-button {
    background-color: #28a745; /* Blue color */
    color: white;
    font-size: 1.2rem;       /* Slightly smaller than the reveal button */
    padding: 0.5rem 1rem;    /* Adjusted padding for a smaller button */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
  }
  
  .cancelled-trade-view  .re-propose-button:hover {
    background-color: #218838; /* Darker blue on hover */
  }
  
  .cancelled-trade-view .re-propose-button:active {
    background-color: #1e7e34; /* Even darker blue when clicked */
  }
  
  .cancelled-trade-view .re-propose-button:focus {
    outline: 2px solid #155724; /* Focus outline for accessibility */
    outline-offset: 2px;
  }
  
  .cancelled-trade-view .trade-actions {
    justify-content: center;
    display: flex;
    gap: 10px;
  }

  @media (max-width: 480px) {
    .cancelled-trade-view .re-propose-button {
      font-size: 0.75rem;
      padding: 0.35rem 0.5rem;
    }
    .cancelled-trade-view .trade-actions {
      gap:5px;
      padding: 0px 5px;
    }
  }