/* ProposedTradeView.css */

 /* Styles for the delete button */
 .proposed-trade-view .trade-actions {
    margin-bottom: 10px;
    margin-top: -10px;
 }

  .proposed-trade-view .delete-button {
    background-color: #dc3545; /* Red color */
    color: white;
    font-size: 1.2rem;       /* Slightly smaller than the reveal button */
    padding: 0.5rem 1rem;    /* Adjusted padding for a smaller button */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .proposed-trade-view .delete-button:hover {
    background-color: #c82333; /* Darker red on hover */
  }
  
  .proposed-trade-view .delete-button:active {
    background-color: #bd2130; /* Even darker red when clicked */
  }
  
  .proposed-trade-view .delete-button:focus {
    outline: 2px solid #721c24; /* Focus outline for accessibility */
    outline-offset: 2px;
  }

  @media (max-width: 480px) {
    .proposed-trade-view .delete-button {
      font-size: 0.75rem;       /* Slightly smaller than the reveal button */
      padding: 0.35rem 0.5rem;    /* Adjusted padding for a smaller button */
    }
  }
  @media (min-width: 481px) and (max-width: 767px) {
    .proposed-trade-view .delete-button {
      font-size: 0.75rem;       /* Slightly smaller than the reveal button */
      padding: 0.35rem 0.5rem;    /* Adjusted padding for a smaller button */
    }
  }