/* windowOverlay.css */

.overlay-content {
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Keep the ability to scroll */
    max-height: calc(80vh - 20px);
    margin: 10px;
    flex: 0 1 auto;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for Internet Explorer, Edge */
    -ms-overflow-style: none;

    /* Hide scrollbar for Firefox */
    scrollbar-width: none;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: white; /* Ensure the button is visible on the overlay */
    cursor: pointer; /* Change cursor to pointer to indicate clickable action */
}

/* Flex container for overlay windows */
.overlay-windows {
    display: inline-flex; /* changed from 'flex' to 'inline-flex' */
    flex-wrap: wrap;
    justify-content: center; /* Center windows horizontally */
    align-items: start; /* Align to the start, not stretch to the entire height */
    position: relative; /* Make sure it's positioned relatively within pokemon-overlay */
    z-index: 10; /* Above the semi-transparent background */
    /* Remove top, left, right, bottom properties to avoid stretching */
    padding: 10px; /* Optional: Add some space around the content */
}

/* Positioning classes related to WindowOverlay */
/* These are now handled by the flex order */
.overlay-main {
    order: 2; /* Adjust the order as needed */
}

.overlay-shiny {
    order: 1;
}

.overlay-moves {
    order: 3;
}

.overlay-costumes {
    order: 4;
}
