/* MirrorManager.css */

.mirror {
    position: relative;
    display: inline-block;
}

.mirror .tooltip {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 100000;
    opacity: 1;
    pointer-events: none;
    visibility: visible;
    white-space: pre; /* Ensures text respects newline characters */
}