/* TradeDetails.css */
.trade-details-container {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.trade-details-container .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}

.trade-details-container .edit-save-container,
.trade-details-container .mirror {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.trade-details-container .edit-save-container {
    left: 0;
}

.trade-details-container .mirror {
    right: 0;
}

.trade-details-container .header-group {
    flex-grow: 1;
    text-align: center;
    margin-top: -15px;
}

.trade-details-container .image-row-container {
    display: flex;
    justify-content: space-between;
    margin-top: -10px
}

.trade-details-container .image-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trade-details-container .image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.trade-details-container .image-row img {
    max-width: 35px;
    max-height: 35px;
    margin-right: 5px;
    object-fit: contain;
}

.trade-details-container .image-row img:last-child {
    margin-right: 0;
}

.trade-details-container h2 {
    margin: -20px 0 10px;
}

.trade-details-container .mirror img {
    width: 60px;
    height: 60px;
    margin-right: -15px;
}

.trade-details-container .hearts img {
    width: 40px;
}

.wanted-item-img.grey-out, 
.grey-out {
    filter: grayscale(100%);
    opacity: 0.5;
}

.trade-details-container .hearts {
    display: flex;
    justify-content: center;
}

.trade-details-container .friendship-slider {
    width: 100%;
}

.trade-details-container .wanted-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
    overflow-y: auto; /* Enables scrolling */
    max-height: 650px; /* Adjust based on your layout */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.trade-details-container .wanted-list-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.trade-details-container .wanted-item img.wanted-item-img {
    width: 120px; /* Adjusts width */
    height: auto; /* Maintains aspect ratio */
    border-radius: 8px; /* Rounds corners */
}

.trade-details-container .wanted-item {
    position: relative;
}

/* Greyscale effect */
.greyscale {
    filter: grayscale(100%);
}

/* Transition effect for toggling */
.toggleable-image {
    transition: filter 0.3s ease;
}

/* Pointer cursor only when editable */
.toggleable-image.editable {
    cursor: pointer;
}