/* TradeDetails.css */
.trade-details-container {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.trade-details-container .top-row {
    display: flex;
    justify-content: space-between; /* Ensure top-row items are spread out */
    position: relative; /* Ensure top-row is the reference point for absolute positioning */
    height: 40px; /* Adjust height if needed */
    margin-bottom: 30px;
}

.trade-details-container .edit-save-container {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
}

.trade-details-container .mirror {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
}

.trade-details-container h2 {
    margin-bottom: 10px;
    margin-top: -20px;
}

.trade-details-container .mirror img {
    width: 60px;
    height: 60px;
    margin-right: -15px;
}

.trade-details-container .hearts img {
    width: 40px;
}

.wanted-item-img.grey-out, .grey-out {
    filter: grayscale(100%);
    opacity: 0.5;
}

.trade-details-container .hearts {
    display: flex;
    justify-content: center;
}

.trade-details-container .friendship-slider {
    width: 100%;
}

.trade-details-container .wanted-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
    overflow-y: auto; /* Enables scrolling */
    max-height: 650px; /* Adjust based on your layout */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.trade-details-container .wanted-list-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.trade-details-container .wanted-item img.wanted-item-img {
    width: 120px; /* Adjusts width */
    height: auto; /* Maintains aspect ratio */
    border-radius: 8px; /* Rounds corners */
}

.wanted-item.grey-out img {
    filter: grayscale(100%);
}

.trade-details-container .wanted-item {
    position: relative;
}

.toggle-not-wanted {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10; /* Ensure it is on top of the image */
}

.toggle-not-wanted:focus {
    outline: none;
}

.toggle-not-wanted:hover {
    background-color: lightgray;
}
