/* WantedListDisplay.css */
.wanted-item {
    position: relative;
    overflow: hidden;
}

.wanted-item .lucky-backdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the backdrop is behind the image */
}

.wanted-item .wanted-item-img {
    position: relative;
    z-index: 2; /* Ensure the image is in front of the backdrop */
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2)); /* Adds a more prominent shadow to the non-transparent parts */
}

.wanted-item .wanted-item-img.grey-out,
.wanted-item .lucky-backdrop.grey-out {
    filter: grayscale(100%) !important; /* Apply grayscale to both the image and backdrop and force it with !important */
}

.wanted-item .toggle-not-wanted {
    position: absolute;
    z-index: 3; /* Ensure the button is in front of both the image and the backdrop */
}

.wanted-list-container.large-list {
    grid-template-columns: repeat(5, 1fr); /* 5 items per row if the list is large */
}

.wanted-list-container.xlarge-list {
    grid-template-columns: repeat(6, 1fr); /* 6 items per row if the list exceeds 15 */
}

.wanted-list-container.xxlarge-list {
    grid-template-columns: repeat(9, 1fr); /* 9 items per row if the list exceeds 30 */
}

.wanted-list-container.single-item-list {
    grid-template-columns: repeat(1, 1fr); /* 1 item per row if the list has only one item due to mirror being true */
}

.wanted-item.grey-out img {
    filter: grayscale(100%);
}

.toggle-not-wanted {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10; /* Ensure it is on top of the image */
}

.toggle-not-wanted:focus {
    outline: none;
}

.toggle-not-wanted:hover {
    background-color: lightgray;
}