/* MainInfo.css */

.type-section img {
    padding: 5px;
    margin-top: -15px;
    margin-bottom: -20px;
    width: 24px;
    height: 24px;
}

.main-info-column p {
    margin: 0px;
}

.pokemon-image {
    margin-top: -20px;
    margin-bottom: -15px;
    max-width: 240px;
    filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.3));
}

.type-section img {
    filter: none;
}

.stat-gauge {
    margin-top: 5px; /* Reduced gap between name and stats */
    margin-bottom: 5px;
}

.stat-text { /* Modify class for the stat text styling */
    margin-bottom: 3px; /* Small space after text before gauge */
    font-weight: bold; /* Ensure the stat names are bold */
}

.gauge-container {
    background-color: #ddd; /* Light grey background for unfilled gauge */
    width: 75%; /* Reducing width to 75% of its container */
    height: 18px; /* Reducing height by 10% */
    border-radius: 10px; /* More rounded corners */
    margin: 0 auto; /* Center the gauge within its container */
}

.gauge {
    height: 100%;
    border-radius: 10px; /* Ensure rounded corners on the filled part too */
}

.main-info-column .cp {
    margin-top: 10px;
}

.cp + .cp {
    margin-top: 10px;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .header-section h1 {
    margin: 0;
  }
  
  .regional-icon {
    width: 25px; /* Adjust the size as needed */
    height: auto;
    position: absolute;
    right: 0;
    margin-bottom: 10px;
  }
  
  /* Ensure the parent container is positioned relatively */
.main-info-column {
    position: relative;
}

.gender-toggle-icon {
    position: absolute;
    right: 0; /* Aligns the icon to the right */
    top: 50; /* Adjust the vertical alignment as needed */
    cursor: pointer;
    width: 40px; /* Set your desired width */
    height: 40px; /* Set your desired height */
    transform: translate(-10px, 10px); /* Optional: fine-tune position, negative X moves left, positive Y moves down */
}
