.type-section img {
    padding: 5px;
    margin-top: -15px;
    margin-bottom: -20px;
    width: 24px;
    height: 24px;
}

.main-info-column img {
    margin-top: -30px;
    margin-bottom: -15px;
    max-width: 240px;
    filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.3)); /* Adds a more prominent shadow to the non-transparent parts */
}

.type-section img {
    filter: none
}