/* This is the container for the images, you can adjust the width as needed */
.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* If you want the container itself to be smaller */
    width: 100%; /* Set to 50% of the parent's width */
    margin: 0 auto; /* This will center the container */
}

/* Styles for the images */
.images-container img {
    max-width: 180px; /* Set a specific max-width for the images, or use a percentage */
    height: auto; /* Maintain aspect ratio */
    margin-top: -15px;
    filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.3)); /* Adds a more prominent shadow to the non-transparent parts */
}
