/* PokemonMenu.css */

.pokemon-container {
  --pokemon-grid-height: calc(100vh - 130px);
  --pokemon-grid-height-fast-select: calc(100vh - 163px);

  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--color-pokemon-menu-surface);
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  align-items: start;
}

.search-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--color-pokemon-menu-surface);
  margin: 0px;
}

.search-menu {
  display: block;
  background-color: var(--color-pokemon-menu-surface);
}

.grid-wrapper {
  position: relative;
  height: var(--pokemon-grid-height);
  display: flex;
}

.pokemon-container.has-checkbox .grid-wrapper {
  height: var(--pokemon-grid-height-fast-select);
}

.grid-container {
  flex: 1;
  overflow-y: auto;
  padding: 0 8px;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.grid-container::-webkit-scrollbar {
  display: none;
}

@media (min-width: 481px) {
  .pokemon-container {
    --pokemon-grid-height: calc(100vh - 164px);
    --pokemon-grid-height-fast-select: calc(100vh - 205px);
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .pokemon-container {
    --pokemon-grid-height-fast-select: calc(100vh - 210px);
  }
}

@media (min-width: 1440px) {
  .pokemon-container {
    --pokemon-grid-height-fast-select: calc(100vh - 219px);
  }
}
