/* Collect.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #444;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 4px 2px -2px gray;
}

.header h1 {
    margin: 0;
}

.header input {
    padding: 8px;
    font-size: 16px;
}

.pokemon-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns */
    gap: 20px; /* Spacing between cards */
    padding: 20px;
}

.pokemon-card {
    text-align: center;
    border: 1px solid #ddd; /* Add a border around each card */
    padding: 10px;
    border-radius: 8px;
}

.pokemon-card img {
    max-width: 100%;
    height: auto;
}

.shiny-button {
    background-color: #ccc; /* Non-shiny color */
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 15px; /* Adjust as per requirement */
    transition: background-color 0.3s ease; /* Optional: for a smooth color transition */
}

.shiny-button img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.shiny-button.active, .generation-buttons button.active {
    /* Your CSS for active state e.g. a different background color */
    background-color: gold;
}


/* Removing focus border/outline for accessibility might not be recommended. 
   If you decide to remove it, ensure there are other clear focus states for accessibility. */
.shiny-button:focus {
    outline: none;
}

/* You can also style the button on hover for better user interaction */
.shiny-button:hover {
    background-color: #b5b5b5; /* Slightly darker non-shiny color */
}

.shiny-button.active:hover {
    background-color: #ffcc00; /* Slightly darker shiny color */
}

.generation-buttons {
    margin-top: 10px;
}

.generation-buttons button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ccc;
    transition: background-color 0.3s ease;
}

.generation-buttons button.active,
.generation-buttons button:hover {
    background-color: #ddd;
}