/* Base Styles */
.logo-container img {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-top: -15px;
    margin-bottom: -15px;

}
.navbar {
    display: flex;
    align-items: center;
    background-color: #111;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

.navbar h1 {
    color: white;
    margin: 0; /* Set default margin to 0 */
}

.title-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-buttons {
    display: flex;
    gap: 10px;
    align-items: center; /* Align items centrally */
    margin-left: auto;
    margin-right: 20px;
}

.navbar-buttons button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

.navbar-buttons button:hover {
    background-color: #0056b3;
}

@media (max-width: 480px) {
    .navbar {
        display: flex; /* Continue using flexbox */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally in the container */
        justify-content: center; /* Center items vertically */
        text-align: center; /* Center text for all child elements */
        width: 100%; /* Ensure navbar takes full width */
        padding: 10px 0; /* Adjust padding to ensure spacing is uniform */
    }
    .logo-container {
        align-self: center; /* Center logo specifically */
        margin: 0px 0; /* Adjust margins to provide space around the logo */
        width: 100%; /* Full width to ensure no horizontal scrolling */
        display: flex; /* Use flex to help center the image */
        justify-content: center; /* Center the image horizontally */
    }

    .logo-container img {
        margin: 0 auto; /* Center the image within the logo container */
    }

    .navbar h1 {
       font-size: smaller; /* Adjust font size for smaller screens */
    }

    .title-container {
        position: static; /* Resets any specific positioning */
        transform: none; /* Removes any transforms */
    }

    .navbar-buttons {
        display: flex; /* Use flexbox for button container */
        flex-direction: row; /* Align buttons in a row */
        justify-content: center; /* Center buttons horizontally */
        width: 100%; /* Optional: Ensure buttons container takes full width */
        margin-top: 10px; /* Space above the buttons */
    }

    .navbar-buttons button {
        padding: 6px 10px; /* Adjust padding for buttons */
        font-size: 12px; /* Adjust font size for buttons */
    }

    .App h1 {
        padding: 0px !important; /* Override padding for h1 in .App */
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .navbar {
        flex-direction: column;
    }

    .logo-container {
        align-self: center; /* Center logo specifically */
        margin: 0px 0; /* Adjust margins to provide space around the logo */
        width: 100%; /* Full width to ensure no horizontal scrolling */
        display: flex; /* Use flex to help center the image */
        justify-content: center; /* Center the image horizontally */
    }

    .logo-container img {
        margin: 0 auto; /* Center the image within the logo container */
    }

    .navbar h1 {
       font-size: smaller;
    }

    .title-container {
        position: static;
        transform: none;
    }

    .navbar-buttons {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-buttons button {
        padding: 6px 10px;
        font-size: 12px;
    }
    .App h1 {
        padding: 0px !important;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .navbar {
        flex-direction: column;
    }

    .logo-container {
        align-self: center; /* Center logo specifically */
        margin: 0px 0; /* Adjust margins to provide space around the logo */
        width: 100%; /* Full width to ensure no horizontal scrolling */
        display: flex; /* Use flex to help center the image */
        justify-content: center; /* Center the image horizontally */
    }

    .logo-container img {
        margin: 0 auto; /* Center the image within the logo container */
    }

    .navbar h1 {
       font-size: smaller;
    }

    .title-container {
        position: static;
        transform: none;
    }

    .navbar-buttons {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-buttons button {
        padding: 6px 10px;
        font-size: 12px;
    }
    .App h1 {
        padding: 0px !important;
    }
}

/* For min-width: 767px and above */
@media (min-width: 1024px) {

    .navbar h1 {
        font-size: larger;
     }

    .navbar-buttons button {
        padding: 8px 15px;
        font-size: 14px;
    }
}

/* For min-width: 767px and above */
@media (min-width: 1440px) {

    .navbar h1 {
        font-size: 28px;
     }

    .navbar-buttons button {
        padding: 10px 20px;
        font-size: 16px;
    }
}

/* For min-width: 767px and above */
@media (min-width: 2560px) {

    .navbar h1 {
        font-size: 42px;
     }

    .navbar-buttons button {
        padding: 10px 20px;
        font-size: 28px;
    }
}


