/* Base Styles */

.navbar {
    display: flex;
    align-items: center;
    background-color: #111;
    padding: 10px;
    justify-content: center;
}

.navbar h1 {
    color: white;
    margin: 0; /* Set default margin to 0 */
}

.title-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-buttons {
    display: flex;
    gap: 10px;
    align-items: center; /* Align items centrally */
    margin-left: auto;
    margin-right: 20px;
}

.navbar-buttons button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

.navbar-buttons button:hover {
    background-color: #0056b3;
}

/* Media Queries */

/* For max-width: 480px */
@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
        /* padding: 10px; */
    }

    .navbar h1 {
       font-size: smaller;
    }

    .title-container {
        position: static;
        transform: none;
    }

    .navbar-buttons {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-buttons button {
        padding: 6px 10px;
        font-size: 12px;
    }
    .App h1 {
        padding: 0px !important;
    }
}

/* For min-width: 767px and above */
@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
    }

    .navbar h1 {
        font-size: smaller;
     }

    .title-container {
        flex-grow: 1;
    }

    .navbar-buttons button {
        padding: 6px 10px;
        font-size: 12px;
    }
}

/* For min-width: 767px and above */
@media (min-width: 1024px) {

    .navbar h1 {
        font-size: larger;
     }

    .navbar-buttons button {
        padding: 8px 15px;
        font-size: 14px;
    }
}

/* For min-width: 767px and above */
@media (min-width: 1440px) {

    .navbar h1 {
        font-size: 28px;
     }

    .navbar-buttons button {
        padding: 10px 20px;
        font-size: 16px;
    }
}

/* For min-width: 767px and above */
@media (min-width: 2560px) {

    .navbar h1 {
        font-size: 42px;
     }

    .navbar-buttons button {
        padding: 10px 20px;
        font-size: 28px;
    }
}


