/* Collect.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 4px 2px -2px gray;
    flex-wrap: nowrap;  /* Ensure the two sections don't wrap onto new lines */
}

.header-section {
    flex: 1;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;     /* Center the items vertically */
    padding: 0 15px;         /* Adjust the padding as needed */
}

.browse-section {
    justify-content: flex-start; /* Align the items to the start of this section */
    border-right: 1px solid #ccc; /* This will add a line delimiter */
}

.collect-section {
    justify-content: flex-end; /* Align the items to the end of this section */
}

.header h1 {
    margin: 0;
    margin-right: 15px; /* Adding some spacing next to the title for aesthetics */
}

/* Optional: If you want to add some space between items in each section */
.header-section > *:not(:last-child) {
    margin-right: 10px;
}

.header input {
    padding: 8px;
    font-size: 16px;
}

.pokemon-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr); /* 6 columns */
    gap: 20px; /* Spacing between cards */
    padding: 20px;
}

.pokemon-card {
    text-align: center;
    font-size: 14px;
    border: 1px solid #ddd; /* Add a border around each card */
    font-size: 0.55rem;
    padding: 10px;
    border-radius: 8px;
    background-color: #333;
}

.pokemon-card h2 {
    margin-top: 17.5px;
}

.pokemon-card img {
    max-width: 100%;
    height: auto;
}

.pokemon-card h2, p {
    color: white;
}

.header-section button {
    background-color: #ccc; /* Non-shiny color */
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 15px; /* Adjust as per requirement */
    transition: background-color 0.3s ease; /* Optional: for a smooth color transition */
}


.header-section img {
    width: 30px;
    height: 30px;
}

.shiny-button.active, .generation-buttons button.active {
    /* Your CSS for active state e.g. a different background color */
    background-color: gold;
}

.costume-button.active, .generation-buttons button.active {
    /* Your CSS for active state e.g. a different background color */
    background-color: cyan;
}

.shadow-button.active, .generation-buttons button.active {
    /* Your CSS for active state e.g. a different background color */
    background-color: plum;
}

/* Removing focus border/outline for accessibility might not be recommended. 
   If you decide to remove it, ensure there are other clear focus states for accessibility. */
.shiny-button:focus {
    outline: none;
}

/* You can also style the button on hover for better user interaction */
.header-section button:hover {
    background-color: #b5b5b5; /* Slightly darker non-shiny color */
}

.shiny-button.active:hover {
    background-color: #ffcc00; /* Slightly darker shiny color */
}

.costume-button.active:hover {
    background-color: rgb(3, 187, 187); /* Slightly darker shiny color */
}

.shadow-button.active:hover {
    background-color: rgb(152, 0, 152) /* Slightly darker shiny color */
}

.type-icons img {
    padding: 5px;
    margin-top: -15px;
    margin-bottom: -20px;
    width: 24px;       /* adjust size as necessary */
    height: 24px;      /* adjust size as necessary */
}

.pokemon-card p {
    margin-bottom: 5px;
}
