/* OwnedListView.css */

@media (max-width: 480px) {
    .weight-height-move-container {
        /* transform: scale(.75); */
        justify-content: space-between;
        width: 100%;
        font-size: 12px;
    }
    .list-view-row .weight-height-move-container .moves-container .move p{
        font-size: 14px;
    }
    .weight-height-move-container .moves-container .move img{
        height: 18px;
        width: 18px;
    }
    .list-view-row .iv-display-container {
        transform: scale(.75);
        margin-top: -10px;
        margin-bottom: -10px;
        width: 85%;
    }
    .list-view-container .location-caught,  .list-view-container .date-caught{
        font-size: 12px;
    }
    .list-view-container .date-caught{ 
        margin-bottom: -10px;
    }
    .list-view-row .right-column {
        margin-bottom: 10px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .weight-height-move-container {
        /* transform: scale(.75); */
        justify-content: space-around;
        width: 100%;
        font-size: 14px;
    }
    .weight-height-move-container .moves-container .move p{
        font-size: 16px;
    }
    .weight-height-move-container .moves-container .move img{
        height: 20px;
        width: 20px;
    }
    .list-view-row .iv-display-container {
        transform: scale(.85);
        margin-top: -10px;
        margin-bottom: 0px;
        width: 85%;
    }
    .list-view-container .location-caught,  .list-view-container .date-caught{
        font-size: 14px;
    }
    .list-view-container .date-caught{ 
        margin-bottom: -10px;
    }
    .list-view-row .right-column {
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .weight-height-move-container {
        /* transform: scale(.75); */
        justify-content: space-around;
        width: 100%;
        font-size: 16px;
    }
    .weight-height-move-container .moves-container .move {
        max-width: 200px;
    }
    .weight-height-move-container .moves-container .move p{
        width: 100%;
        font-size: 18px;
    }
    .weight-height-move-container .moves-container .move img{
        height: 20px;
        width: 20px;
    }
    .list-view-row .iv-display-container {
        transform: scale(.85);
        margin-top: -10px;
        margin-bottom: 0px;
        width: 85%;
    }
    .list-view-container .location-caught,  .list-view-container .date-caught{
        font-size: 16px;
    }
    .list-view-container .date-caught{ 
        margin-bottom: -10px;
    }
    .list-view-row .right-column {
        margin-bottom: 10px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .list-view-row .weight-height-move-container {
        /* transform: scale(.75); */
        justify-content: space-between;
        width: 100%;
        font-size: 14px;
    }
    .weight-height-move-container .moves-container .move {
        max-width: 150px;
    }
    .weight-height-move-container .moves-container .move p{
        width: 100%;
        font-size: 16px;
    }
    .weight-height-move-container .moves-container .move img{
        height: 20px;
        width: 20px;
    }
    .list-view-row .iv-display-container {
        transform: scale(.9);
        margin-top: -10px;
        margin-bottom: 0px;
        width: 85%;
    }
    .list-view-container .location-caught,  .list-view-container .date-caught{
        font-size: 14px;
    }
    .list-view-container .date-caught{ 
        margin-bottom: -10px;
    }
    .list-view-row .right-column {
        margin-bottom: 10px;
    }
}

@media (min-width: 1440px) {
    .list-view-row .iv-display-container {
        width: 85%;
    }
}