/* SearchUI.css */

.header-section.search-section {
    /* Use sticky positioning */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; /* higher than the cards so it stays on top */
    background-color: #111;
    padding-bottom: 10px;
    padding-top: 5px;
}

/* Other styles for input and checkbox */
.header-section.search-section input,
.header-section.search-section button {
    width: 80%;
}

.header-section.search-section input {
    padding: 8px;
    font-size: 16px;
}

.header-section.search-section button {
    background-color: #ccc;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

/* The rest of your styles remain unchanged */
.evo-line-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em; /* optional, for spacing between the checkbox and the text */
    cursor: pointer;
    color: #ffffff;
    font-size: 1em;
    margin-top: 5px;
  }
  
  /* Update the container to center its content */
  .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.evo-checkbox {
    appearance: none;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.evo-line-custom-checkbox {
    width: 2.5em;
    height: 2.5em;
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
}

.evo-checkbox:checked + .evo-line-custom-checkbox::after {
    content: '✓';
    color: #ffffff;
    font-size: 1.2em;
    line-height: 1;
}

.search-input.input-margin-bottom {
    margin-bottom: 5px; /* Adjust the value as needed */
}

/* Media queries remain the same */
@media (max-width: 480px) {
    .header-section.search-section {
        font-size: 8px;
        width: 100%;
        margin: 0px;
    }
    .evo-line-custom-checkbox {
        width: 2em;
        height: 2em;
    }
}

@media (min-width: 481px) {
    .header-section.search-section {
        font-size: 12px;
    }
    .evo-line-custom-checkbox {
        width: 2em;
        height: 2em;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .evo-line-custom-checkbox {
        width: 2em;
        height: 2em;
    }
    .header-section.search-section {
        font-size: 12px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .header-section.search-section {
        font-size: 14px;
    }
    .evo-line-custom-checkbox {
        width: 2em;
        height: 2em;
    }
    .header-section.search-section input,
    .header-section.search-section button {
        width: 70%;
        margin-top: 3px;
    }
    .header-section.search-section {
        flex-grow: 4;
    }
}

@media (min-width: 1440px) {
    .header-section.search-section {
        font-size: 20px;
    }
    .evo-line-custom-checkbox {
        margin-top: 2px;
        width: 1.75em;
        height: 1.75em;
    }
    .header-section.search-section input,
    .header-section.search-section button {
        width: 80%;
        margin-top: 3px;
    }
}