/* HeaderUI.css */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #111;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 2px -4px 2px 2px #111;
    flex-wrap: nowrap; /* Keep header in one row */
}

.filters-container,
.collect-container {
    position: relative; /* Positioning context for overlays */
}

.header.expand-collect {
    justify-content: flex-start;
}

.header.expand-collect .collect-ui-toggle,
.header.expand-collect .filter-ui,
.header.expand-collect .search-ui {
    flex-shrink: 0;
}

.header.expand-collect .toggle-button {
    margin-right: auto;
}

.header .toggle-button,
.header .collect-ui-toggle {
    background: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    flex-shrink: 0;
}

.search-ui {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    margin-right: 10px;
}

@media (min-width: 1024px) {
    .toggle-button,
    .collect-ui-toggle {
        display: none;
    }
}
