/* HeaderUI.css */

.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #111;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 2px -4px 2px 2px #111;
    flex-wrap: nowrap;
}

/* Left and right containers get a small portion of the space */
.pokedex-container,
.lists-container {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 0;
}

/* Search container takes up a lot more space */
.search-container {
    flex: 20;
    margin: 0 10px;
}

/* Common styling for the toggle buttons */
.toggle-button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #222;
    border: 1px solid white;
    cursor: pointer;
}

.toggle-text {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}

/* Responsive adjustments */
@media (max-width: 480px) {
    .header {
        padding: 10px 10px;
    }
}
