/* SortOverlay.css */
.sort-overlay {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1001;
    transform-origin: bottom right; /* Scale from the bottom-right corner */
}

.sort-button, .sort-type-button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    display: block; /* Makes each option expand the full width of the list */
    margin-top: 4px; /* Spacing between buttons */
    background-color: #34807d;
}

.sort-list {
    display: flex;
    flex-direction: column; /* List expands upwards */
    align-items: flex-end; /* Align buttons to the start */
}

.sort-overlay .error-message {
    color: red;
    font-size: 14px;
    position: absolute;
    bottom: -25px; /* Position it below the sort button */
    right: 0;
    background: white;
    padding: 5px;
    border: 1px solid #ff0000;
    border-radius: 4px;
}

@media (max-width: 480px) {
    .sort-overlay {
        transform: scale(0.40);
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .sort-overlay {
        transform: scale(0.5);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .sort-overlay {
        transform: scale(0.65);
    }    
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .sort-overlay {
        transform: scale(0.75);
    }    
}