/* WantedListView.css */

/* Center Column */
.wanted-list-view .center-column .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.wanted-list-view .card h3 {
  margin-bottom: 10px;
}

.wanted-list-view .pokemon-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wanted-list-view .pokemon-first-column,
.wanted-list-view .pokemon-second-column {
  flex: 1;
}

.wanted-list-view .pokemon-first-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.wanted-list-view .pokemon-first-column .cp-display {
  margin-bottom: 10px;
}

.wanted-list-view .pokemon-single-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wanted-list-view .pokemon-single-column .pokemon-image-container {
  position: relative;
  margin: 0 auto;
}

.wanted-list-view .pokemon-name {
  margin-top: 10px;
  text-align: center;
}

.wanted-list-view .pokemon-second-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  margin-right: 20px;
  max-width: 350px;
}

.wanted-list-view .pokemon-weight-height {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.wanted-list-view .pokemon-weight,
.wanted-list-view .pokemon-height {
  width: 48%;
  text-align: center;
}

.wanted-list-view .pokemon-weight p,
.wanted-list-view .pokemon-height p {
  margin: 0;
}

.wanted-list-view .pokemon-weight p:first-child,
.wanted-list-view .pokemon-height p:first-child {
  font-size: 1em;
  font-weight: bold;
}

.wanted-list-view .pokemon-weight p:last-child,
.wanted-list-view .pokemon-height p:last-child {
  font-size: 0.6em;
  color: #aaa;
}

.wanted-list-view .pokemon-moves {
  margin-bottom: 10px;
  margin-left: 20px;
  width: 100%;
}

.wanted-list-view .pokemon-location,
.wanted-list-view .pokemon-date {
  margin-bottom: 10px;
}

/* Trade List */
.wanted-list-view .trade-list-section {
  margin-top: 10px;
}

.wanted-list-view .trade-list-section .trade-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
}

.wanted-list-view .trade-list-section .trade-pokemon-image {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 8px;
}

.wanted-list-view .pokemon-image-container {
  position: relative;
  margin: 0 auto;
}

.wanted-list-view .hearts-lucky-container, .wanted-list-view .pokemon-weight-height {
  margin-right: -20px;
}

.wanted-list-view .glowing-pokemon {
  position: relative;
  box-shadow: 0 0 15px 8px rgba(255, 215, 0, 0.75);
  border-radius: 50%;
}

.wanted-list-view .glowing-pokemon::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: radial-gradient(circle, rgba(255, 215, 0, 0.8), rgba(255, 215, 0, 0));
  border-radius: 50%;
}