/* NameComponent.css */
.name-container {
    display: flex;
    justify-content: center; /* Horizontally center the nickname text */
    align-items: center; /* Vertically align items in the middle */
    position: relative; /* Positioning context for absolute elements */
}

.name-editable-content {
    outline: none; /* Remove focus outline */
    min-width: 50px; /* Minimum width to ensure space for typing */
    background: transparent; /* Ensure no background color */
    display: inline-block; /* Ensures the element behaves inline and takes padding correctly */
    padding: 0px; /* Padding to give some breathing room around the text */
    border: 1px solid transparent; /* Transparent border that can be colored on focus/edit */
}

.name-editable-content.editable {
    border: 1px solid #a3a3a3; /* Solid border around the content to indicate editable mode */
    border-radius: 2px; /* Optional: Rounds the corners of the border */
    padding-left: 2px;
    padding-right: 2px;
}

