.login-page {
    height: calc(100vh);
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

@media (max-width: 480px) {
    .login-page .login-form {
        transform: scale(.85);
    }
    .login-form input {
        font-size: .9rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .login-page .login-form {
        transform: scale(.85);
    }
    .login-form input {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .login-page .login-form {
        transform: scale(1);
    }
    .login-form input {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .login-page .login-form {
        transform: scale(0.75);
    }
    .login-form input {
        font-size: 1rem;
    }
}

@media (min-width: 1440px) {
    .login-page .login-form {
        transform: scale(1);
    }
    .login-form input {
        font-size: 1rem;
    }
}