/* Account.css */

.account-page {
    height: calc(100vh);
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

@media (max-width: 480px) {
    .account-form h1 {
        padding-bottom: 10px !important;
    }
    .account-page .account-form {
        transform: scale(.9);
        font-size: 0.9em;
    }
    .user-details input {
        font-size: 0.6rem;
    }
    .account-form button {
        padding: 2px 15px;
    }
    .account-form label {
        flex-direction: column; /* Stack label and checkbox vertically */
        text-align: center;
        font-size: 0.65rem;
    }
    .account-form input[type="checkbox"] {
        margin-top: 10px; /* Add some space between the text and checkbox */
        display: block;
    }
    .account-form .set-coordinates-button {
        font-size: .65rem;
    }

    .account-form button[type="button"] {
        font-size: 0.5rem;
        height: 31px !important;
    }
    .account-form .buttons > button {
        padding: 0px;
        font-size: 0.65rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .account-form h1 {
        padding-bottom: 10px !important;
    }
    .account-page .account-form {
        transform: scale(.9);
        font-size: 0.9em;
    }
    .user-details input {
        font-size: 0.7rem;
    }
    .account-form button {
        padding: 5px 15px;
    }
    .account-form label {
        flex-direction: column; /* Stack label and checkbox vertically */
        text-align: center;
        font-size: 0.7rem
    }
    .account-form input[type="checkbox"] {
        margin-top: 10px; /* Add some space between the text and checkbox */
        display: block;
    }
    .account-form button[type="button"] {
        font-size: 0.7rem;
        height: 32px !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .account-form h1 {
        padding-bottom: 10px !important;
    }
    .account-page .account-form {
        transform: scale(.9);
        font-size: 1em;
    }
    .user-details input {
        font-size: 0.8rem;
    }
    .account-form button {
        padding: 5px 15px;
    }
    .account-form label {
        flex-direction: column; /* Stack label and checkbox vertically */
        text-align: center;
    }
    .account-form input[type="checkbox"] {
        margin-top: 10px; /* Add some space between the text and checkbox */
        display: block;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .account-form h1 {
        padding-bottom: 10px !important;
    }
    .account-page .account-form {
        transform: scale(0.75);
        font-size: 1em;
    }
    .user-details input {
        font-size: 0.8rem;
    }
    .account-form button {
        padding: 5px 15px;
    }
    .account-form label {
        flex-direction: column; /* Stack label and checkbox vertically */
        text-align: center;
    }
    .account-form input[type="checkbox"] {
        margin-top: 10px; /* Add some space between the text and checkbox */
        display: block;
    }
}


@media (min-width: 1440px) {
    .account-form h1 {
        padding-bottom: 10px !important;
    }
    .account-page .account-form {
        transform: scale(1);
        font-size: 1em;
    }
    .user-details input {
        font-size: 0.8rem;
    }
    .account-form button {
        padding: 5px 15px;
    }
    .account-form label {
        flex-direction: column; /* Stack label and checkbox vertically */
        text-align: center;
    }
    .account-form input[type="checkbox"] {
        margin-top: 10px; /* Add some space between the text and checkbox */
        display: block;
    }
}

