/* OwnedInstance.css */
.owned-instance {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-image {
  max-width: 100%;
}

.stats-container {
  display: flex;
  justify-content: space-between; /* Distribute space evenly */
  width: 100%; /* Take full width of the container */
}

.weight-component, .type-component, .height-component {
  display: flex;
  align-items: center;
}

.weight-label, .type-label, .height-label {
  margin-right: 5px;
}

.moves-toggle {
  display: flex;
  justify-content: center;
  margin-top: 10px
}

.toggle-option {
  margin: 0 10px;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-bottom: 2px solid transparent; /* Underline instead of border and background */
  transition: border-color 0.3s ease;
}

.toggle-option:hover {
  border-color: grey;
}

.toggle-option.active {
  border-color: grey;
}

.moves-container {
  position: relative;
  width: 100%; /* Ensures container width matches parent */
  height: 125px; /* Fixed height to ensure content visibility */
  overflow: hidden; /* Hide overflow to ensure contents out of frame are not visible */
  display: flex;
  transition: transform 0.5s ease;
}

.raid-content, .pvp-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease; /* Smooth transitions for sliding */
}

/* Initial offscreen positioning for PvP content */
.pvp-content {
  transform: translateX(100%); /* Start offscreen to the right */
}

/* Sliding transitions based on toggle state */
.moves-container.slide-in .raid-content {
  transform: translateX(0%);
}

.moves-container.slide-in .pvp-content {
  transform: translateX(100%); /* PvP moves out of view to the right */
}

.moves-container.slide-out .raid-content {
  transform: translateX(-100%); /* Raid moves out of view to the left */
}

.moves-container.slide-out .pvp-content {
  transform: translateX(0%); /* PvP slides into view */
}
