/* CaughtComponent.css */
.caught-container {
    display: flex;
    flex-direction: column;
    color: white;  /* Set text color to white for visibility against a darker background */
    margin-top: 20px;
  }
  
  .caught-field span {
    cursor: pointer;  /* Indicates text can be edited when in edit mode */
    background-color: transparent; /* Ensures the background is transparent */
    display: block; /* Ensures the span behaves like a block element with full width */
  }
  
  .caught-field span.editable {
    cursor: text; /* Changes cursor to text in edit mode */
    border: 1px solid white;
    margin-bottom: 5px;
  }
  
  .caught-field span.text {
    border: 1px solid transparent; /* No border when not in edit mode */
    margin-bottom: 5px;
  }
  
  .caught-field span:focus {
    outline: none;  /* Remove the default focus outline */
  }
  
  .caught-field label {
    display: block;  /* Ensures the label is on its own line */
    margin-bottom: 5px;
  }
  
  .caught-container .icon-button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .caught-container .icon-button img {
    width: 20px;
    height: 20px;
  }
  
  .caught-container .suggestions {
    position: absolute;
    background: #fff;
    color: #333;
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000; /* Ensure it is above other content */
  }
  
  .caught-container .suggestions li {
    padding: 8px 10px;
    cursor: pointer;
  }
  
  .caught-container .suggestions li:hover {
    background-color: #f0f0f0;
  }

  .caught-field {
    position: relative; /* Add this line to ensure correct positioning of absolute children */
    display: flex;
    flex-direction: column;
/* Aligns items to the start, ensuring the label and span align correctly */
  }
  
  .caught-container .suggestions {
    position: absolute;
    top: 100%; /* Position directly below the input field */
    left: 0;
    width: calc(100% - 10px); /* Assuming you might want a little padding or border */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000; /* Ensure it is above other content */
    background-color: #fff;
    color: #333;
    list-style-type: none;
    padding: 0;
    margin-top: 2px; /* Small gap between input field and suggestions */
  }
  