/* CPComponent.css */
.cp-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    position: relative; /* Positioning context for the absolute elements */
}

.cp-display {
    width: 100%; /* Use the full width to center the content */
}

.center-content {
    display: flex;
    align-items: flex-end; /* Align items to the bottom */
    justify-content: center;
}

.cp-label {
    font-size: 10px;
    line-height: 1; /* Reduce line height to minimize excess space */
    margin-bottom: 3px; /* Ensure no bottom margin is affecting alignment */
    margin-top: 8px;
}