/* CPComponent.css */
.cp-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    position: relative; /* Positioning context for the absolute elements */
}

.cp-display {
    width: 100%; /* Use the full width to center the content */
}

.cp-center-content {
    display: flex;
    align-items: flex-end; /* Align items to the bottom */
    justify-content: center;
    padding-top: 3px;
}

.cp-label {
    font-size: 10px;
    line-height: 1; /* Reduce line height to minimize excess space */
    margin-bottom: 3px; /* Ensure no bottom margin is affecting alignment */
    margin-top: 8px;
}

.cp-editable-content {
    outline: none; /* Remove focus outline */
    background: transparent; /* Ensure no background color */
    border-bottom: 1px solid transparent; /* Transparent border that can be colored on focus/edit */
    display: inline-block; /* Ensure the element behaves inline */
}
  
.cp-icon-button {
    margin-left: 10px; /* Space between the editable content and the button */
    background: none;
    border: none;
    cursor: pointer;
    position: absolute; /* Position absolutely within the parent */
    top: 0; /* Align to the top of the parent */
}
  
.cp-icon-button img {
    width: 24px;
    height: 24px;
}
  
