/* EditableSelect.css */
.editable-select {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: -40px; /* Move icon to the right outside the editable-select */
    top: 50%;
    transform: translateY(-50%);
  }
  
  .icon-button img {
    width: 24px;
    height: auto;
  }
  
  .editable-content {
    border: none;
    outline: none;
    text-align: center;
  }  