/* EditableSelect.css */
.editableSelect__container {
  display: flex;
  align-items: flex-end; /* Align the contents to the bottom */
  justify-content: space-between; /* Manages spacing between text and the icon */
}

.editableSelect__icon-button {
  background: none;
  border: 2px solid transparent; /* Add a transparent border to maintain consistent size */
  cursor: pointer;
  display: flex;
  align-items: center; /* Centers the icon vertically */
  position: absolute;
  right: 25px; /* Positioned to the right inside the container */
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
  border: none;
  background: none;
}

.editableSelect__icon-button img {
  width: 24px;
  height: 24px; /* Set a fixed height for consistency */
}

.editableSelect__editable-content {
  border: none;
  outline: none;
  text-align: center;
}
