/* LuckyComponent.css */

.lucky-component {
    cursor: pointer; /* Indicates the component is clickable */
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Centers the image vertically */
    justify-content: flex-start; /* Aligns the image to the left */
    width: 100%; /* Ensures the div takes full width of its parent, adjust as necessary */
    height: 100%; /* Ensures the div takes full height of its parent, adjust as necessary */
    margin-left: 10px;
}

.lucky-component img {
    width: 36px;
    height: auto; /* Keeps image aspect ratio intact */
}

.lucky-on {
    filter: brightness(150%); /* Makes the image brighter */
}

.lucky-off {
    filter: brightness(50%); /* Makes the image less bright */
}
