/* NameComponent.css */
.name-container {
    display: flex;
    justify-content: center; /* Horizontally center the nickname text */
    align-items: center; /* Vertically align items in the middle */
    width: 100%; /* Use the full container width */
    position: relative; /* Positioning context for absolute elements */
    margin-top: 20px;
    height: 48px;
}
