/* MegaPokemonSelection.css */

.mega-pokemon-selection-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001; /* Ensure it's on top of other elements */
    overflow-y: auto;
}

.mega-pokemon-selection-overlay::-webkit-scrollbar {
    display: none;
}
  
.mega-modal-content {
    background-color: #333; /* Dark background for contrast */
    color: white; /* White text for readability */
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 100%; /* Constrain height for scrollability */
    overflow-y: auto; /* Allow vertical scrolling */
    transform: scale(.9);
}

.mega-modal-content::-webkit-scrollbar {
    display: none;
}
  
.mega-modal-content h2 {
    margin-top: 0;
    margin-bottom: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    width: 100%;
}
  
.mega-modal-content p {
    margin: 10px 0;
}
  
.mega-pokemon-selection-overlay  .error {
    color: #ff4d4d; /* Red color for errors */
}
  
.mega-pokemon-list {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to new lines if necessary */
    justify-content: center; /* Center the items horizontally */
    gap: 10px;
    max-width: 100%; /* Constrain the width to the parent's width */
    width: fit-content; /* Shrink or grow based on content */
    margin: 0 auto; /* Center the list horizontally */
}

.mega-pokemon-list::-webkit-scrollbar {
    display: none;
}
  
.mega-pokemon-item {
    background-color: #444; /* Slightly lighter dark background */
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
}
  
.mega-actions {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.mega-actions {
    justify-content: center;
}
  
.mega-actions button, .create-new-action button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blue background for primary actions */
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}
  
.mega-actions button:hover, .create-new-action button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.create-new-action button {
    margin-top: 10px;
}

@media (max-width: 600px) {
    .mega-pokemon-list {
        flex-direction: column;
        align-items: center;
    }
}
