/* WantedSearch.css */

/* Container for the wanted options */
.wanted-search-options {
    display: flex; /* Use flex layout */
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100%; /* Set container height */
    position: relative; /* Use relative position for easier adjustment */
    text-align: center; /* Center text within the label */
    margin-top: -35px;
    margin-right: -50px
  }
  
  /* Style for the individual field */
  .wanted-search-options .field {
    display: flex; /* Use flex layout */
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
    margin-bottom: 5px;
  }
  
  /* Style for the label */
  .wanted-search-options .field label {
    font-size: 16px; /* Adjust font size as needed */
  }
  
  /* Style for the checkbox */
  .wanted-search-options .field input[type='checkbox'] {
    margin-bottom: 5px; /* Space between checkbox and label */
    transform: scale(1.25); /* Optional: Scale up the checkbox */
  }
  
  .wanted-search-options .field-wanted {
    margin-bottom: 0px;
  }

  .wanted-search-options .search-row {
    margin-top: -10px;
  }

  @media (max-width: 480px) {
    .wanted-search-options .field label {
      font-size: 12px;
    }
    .wanted-search-options {
      margin-right: unset;
      margin-top: -15px;
    }
    .wanted-search-options .search-row {
      margin-bottom: -10px;
    }
    .wanted-search-options .field input[type='checkbox'] {
      transform: scale(1);
      margin: unset;
    }
  }
    
  @media (min-width: 481px) and (max-width: 767px) {
  
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
  
  }
  
  @media (min-width: 1024px) {
  
  }
     