.date-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  text-align: center;
}

.date-field {
  position: relative;
}

.date-field label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
}

.date-field input.editable {
  width: 100%;
  min-height: 24px;
  border: 1px solid white;
  background-color: transparent;
  color: inherit;
  box-sizing: border-box;
  padding: 0;
  color-scheme: dark;
}

.date-field input.editable:focus {
  outline: none;
}

.date-field input.editable::-webkit-calendar-picker-indicator {
  filter: invert(0.85);
}

.date-field span.text {
  background-color: transparent;
  display: block;
  width: 100%;
  min-height: 20px;
  border: 1px solid transparent;
  padding: 0;
  box-sizing: border-box;
  height: 24px;
}
