/* Types.css */
.type-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content within type-container */
  justify-content: center; /* Ensures internal alignment */
}
  
.type-container .type-icons {
    display: flex;
    justify-content: center;
  }
  
.type-container .type-icon {
    width: 24px;
    height: 24px;
    margin: 0 3px; /* Space between type icons */
  }
  
.type-container .type-label {
    font-size: 11px;
    font-weight: 600;
    color: grey;
    text-align: center; /* Center the label text */
    margin-left: 3px;
    text-transform: uppercase;
  }

:root[data-theme='light'] .instance-overlay.caught-mode .type-label {
    color: var(--light-text-secondary);
}
  
