/* TradeDetails.css */
.trade-details-container {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.trade-details-container .top-row {
    display: flex;
    justify-content: space-between; /* Ensure top-row items are spread out */
    position: relative; /* Ensure top-row is the reference point for absolute positioning */
}

.trade-details-container h2 {
    margin-bottom: 10px;
    margin-top: -20px;
}

.trade-details-container .edit-save-container {
    margin-left: -5px;
    margin-top: -45px;
}

.trade-details-container .mirror {
    align-items: right;
}

.trade-details-container .mirror img {
    width: 60px;
    height: 60px;
}

.trade-details-container .hearts img {
    width: 40px;
}

.trade-details-container .grey-out {
    filter: grayscale(100%);
    opacity: 0.5;
}

.trade-details-container .hearts {
    display: flex;
    justify-content: center;
}

.trade-details-container .friendship-slider {
    width: 100%;
}

.trade-details-container .wanted-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
    overflow-y: auto; /* Enables scrolling */
    max-height: 400px; /* Adjust based on your layout */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.trade-details-container .wanted-list-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.trade-details-container .wanted-item img {
    width: 120px; /* Adjusts width */
    height: auto; /* Maintains aspect ratio */
    border-radius: 8px; /* Rounds corners */
}
