/* TradeInstance.css */
.trade-instance {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Top row containing the edit/save button and title */
.trade-instance .top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  position: relative;
}

.trade-instance .top-row h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  text-align: center;
}

.trade-instance .edit-save-container {
  margin-right: auto;
}

/* CP Component container */
.trade-instance .cp-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
}

/* Image container */
.trade-instance .image-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Name Component container */
.trade-instance .name-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Gender Component container */
.trade-instance .gender-container {
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Align to the right */
}

/* Stats container with individual component alignments */
.trade-instance .stats-container {
  display: flex;
  width: 100%;
}

.trade-instance .type-container {
  flex: 1;
}

/* Moves Component container */
.trade-instance .moves-container {
  width: 100%;
}

/* Location Caught Component container */
.trade-instance .location-container {
  width: 100%;
}

/* Date Caught Component container */
.trade-instance .date-container {
  width: 100%;
}

@media (max-width: 480px) {
}

@media (min-width: 481px) and (max-width: 767px){
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .trade-instance-overlay {
    transform: scale(0.75);
    transform-origin: center;
    overflow-y: visible;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .trade-details-container .wanted-item img.wanted-item-img {
    width: 100px !important;
  }
  .trade-instance-overlay .overlay-row {
    flex-wrap: nowrap;
  }
}