/* WantedTradeInstance.css */  
.top-row {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* 1fr for the spacer, auto for CPComponent, 1fr for the right stack */
    align-items: center;
    width: 100%;
}

.trade-details-container h2 {
    margin-left: 30px;
}
    
.right-stack {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the stack vertically if there's extra space */
    align-items: flex-end; /* Aligns the children (FavoriteComponent and FriendshipComponent) to the right */
}

.pokemon-image-container {
    position: relative;
}

.lucky-placeholder {
    flex: 1; 
}
  
.lucky-backdrop {
    position: absolute;
    top: 18%;
    left: 15%;
    width: 180px;
    height: auto;
    z-index: 0; /* Ensure it's slightly behind the main image but above any other content */
}
  
.pokemon-image {
    position: relative;
    max-width: 100%;
    z-index: 1; /* Ensure it's above the backdrop */
}
  
.gender-component {
    flex: 1; /* Adjust flex settings to manage width and spacing */
}
  
.stats-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
.weight-component, .type-component, .height-component {
    display: flex;
    align-items: center;
}
  