/* CaughtSearch.css */

/* Container styles for the options */
.caught-options-container {
  display: flex;
  flex-direction: column; /* Arrange in a single column */
  align-items: flex-end; /* Align the items to the right */
  margin-top: -8px
}

/* Column for checkboxes and IVSearch */
.options-column {
  display: flex;
  flex-direction: column;
  width: 250px;
}

/* Row for the checkboxes */
.checkbox-row {
  display: flex;
  justify-content: center; /* Center the Hundo checkbox */
  width: 100%; /* Full width of the column */
  align-items: center; /* Center checkboxes vertically */
}

/* Individual fields for each checkbox */
.field {
  display: flex; /* Set flex layout for individual fields */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center the Hundo checkbox within the field */
}

/* Full-width row for IVSearch component */
.iv-search-row {
  width: 100%; /* Takes full width of the column */
  display: flex;
  justify-content: center; /* Center the IVSearch component */
}

@media (max-width: 480px) {
  .caught-options-container {
    width: 100%;
    align-items: flex-start;
  }
  .options-column {
    scale: 80%;
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .caught-options-container {
    width: 100%;
    align-items: flex-start;
    height: 150px;
  }
}

@media (min-width: 1024px) {
  .ownership-row .caught-options-container {
    align-items: center;
    margin-top: -30px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .ownership-row .caught-options-container {
    align-items: center;
    margin-top: -20px;
  }
}
