.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #111;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 4px 2px -2px rgb(168, 168, 168);
}

.header.expand-collect {
    justify-content: flex-start;
}

.header.expand-collect .collect-ui-toggle,
.header.expand-collect .filter-ui,
.header.expand-collect .search-ui {
    flex-shrink: 0;
}

.header.expand-collect .toggle-button {
    margin-right: auto;
}

.toggle-button, .collect-ui-toggle {
    background: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    flex-shrink: 0;
}

.search-ui {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0; /* Allows this section to shrink beyond its content size */
    margin-right: 10px; /* Ensure some space on the right */
}

.filter-ui, .collect-ui {
    position: absolute;
    top: 100%; /* Position directly below the header */
    width: 100%;
    transition: transform 0.3s ease-in-out;
    will-change: transform; /* Optimizes the animation performance */
    background-color: #333; /* Match the header background */
    color: white; /* Match the header text color */
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    z-index: 1000;
    padding: 10px;
}

.filter-ui {
    left: 0;
    transform: translateX(-100%); /* Start hidden to the left */
}

.collect-ui {
    right: 0;
    transform: translateX(100%); /* Start hidden to the right */
}

.show-filter .filter-ui {
    transform: translateX(0); /* Slide in to view */
}

.show-collect .collect-ui {
    transform: translateX(0); /* Slide in to view */
}

.filter-section, .collect-section {
    flex: 3;  /* Each takes up 3/11th of the space */
}

.search-section {
    flex: 5;  /* Takes up 5/11ths of the space */
}

@media (max-width: 480px) {
    .header {
        padding: 5px 10px;
        margin-bottom: 2px;
        min-height: 60px
    }
    .header.expand-collect .toggle-button:not(.collect-ui-toggle) {
        display: none;
    }
    .search-section input, 
    .search-section button {
        font-size: 10px; /* Reduce font size to decrease element size */
        width: 50%; /* Reduce input width */
        margin-right: 2px; /* Adjust spacing between input and buttons */
        padding: 2px 5px; /* Reduce padding inside input */
        margin: 0 2px; /* Reduce space between buttons */
        padding: 2px; /* Reduce button padding to decrease size */
    }

    .search-section button img {
        width: 15px; /* Reduce image/icon size */
        height: 15px;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .header.expand-collect .toggle-button:not(.collect-ui-toggle) {
        display: none;
    }
    .search-ui input,
    .search-ui button {
        font-size: 10px;
        width: auto; /* allow the input to be flexible */
        margin-right: 2px;
        padding: 2px 5px;
        margin: 0 2px;
        padding: 2px;
    }

    .search-ui button img {
        width: 15px;
        height: 15px;
    }

    .collect-section {
        padding-left: 2px;
        justify-content: center; /* Center the content in the available space */
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header.expand-collect .toggle-button:not(.collect-ui-toggle) {
        display: none;
    }
    .search-ui input, 
    .search-ui button {
        font-size: 12px; /* Slightly increased font size */
        width: auto; /* Auto width for flexibility */
        margin-right: 4px; /* Adjusted spacing between input and buttons */
        padding: 4px 7px; /* Slightly increased padding inside input */
        margin: 0 4px; /* Slightly increased space between buttons */
        padding: 4px 8px; /* Slightly increased button padding */
    }

    .search-ui button img {
        width: 20px; /* Slightly larger image/icon size */
        height: 20px;
    }

    .collect-section {
        padding-left: 4px;
        justify-content: center; /* Keep the content centered */
    }
}

@media (min-width: 1024px) {
    .toggle-button, .collect-ui-toggle {
        display: none;
    }
    .filter-ui, .collect-ui {
        transform: translateX(0); /* Always show UI elements */
        display: none; /* Hide toggle buttons as they are not needed */
    }
    .search-ui input, 
    .search-ui button {
        font-size: 14px; /* Further increased font size */
        padding: 6px 10px; /* Further increased padding inside input and button padding */
    }

    .search-ui button img {
        width: 25px; /* Further increased image/icon size */
        height: 25px;
    }
}
