/* pokemonOverlay.css */

.pokemon-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Dimming background */
    z-index: 1001; /* Ensures overlay is on top */
    flex-direction: column; 
}

.column-layout {
    flex-direction: column;
}

.overlay-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%; /* Full width of the container */
}

.overlay-windows {
    z-index: 2; /* Above the pseudo-element */
    justify-content: center; /* This ensures that the children (windows) are centered */
    flex-wrap: wrap; /* Allows wrapping if needed */
    gap: 10px; /* Adjust as needed - adds a gap between window elements */
}

.pokemon-overlay .column {
    padding: 10px;
    padding-top: 0px;
    box-sizing: border-box;
}

.universal-close-button {
    position: fixed; /* or absolute, depending on your layout */
    top: 10px; /* Adjust the value as needed */
    right: 10px; /* Adjust the value as needed */
    background: none;
    border: none;
    font-size: 24px;
    color: white; /* Or any color that makes the button visible against your background */
    cursor: pointer;
    z-index: 100; /* Make sure it's above all overlay content */
  }

@media (max-width: 480px) { /* For mobile devices */
    .pokemon-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: flex-start; /* Aligns content to start from the top */
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1000;
        flex-direction: column;
        padding-top: 150px; /* Pushes all content down by 150px */
        overflow-y: scroll; /* Enables scrolling for the entire overlay */
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For Internet Explorer and Edge */
    }

    .pokemon-overlay::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Opera */
    }

    .overlay-row {
        display: flex;
        flex-direction: column; /* Stack the rows vertically on smaller screens */
        width: 100%; /* Full width of the container */
        gap: 10px; /* Space between windows */
    }

    .overlay-row.other-overlays-row {
        position: relative;
        top: 0px; /* Eliminate this if it's still causing issues */
        width: 100%; /* Full width of the container */
        flex-direction: column; /* Stack the elements vertically */
    }

    .overlay-content {
        max-height: none; /* Remove max height to allow full height of content */
        overflow: visible; /* Make sure the content is visible without its own scroll */
    }

    .overlay-evolves-from, .overlay-evolves-to {
        max-height: 100px;
    }
    .overlay-all-moves {
        margin-bottom: 10px !important;
    }
    .shadow-info-column img {
        max-width: 140px !important;
        padding-top: 5px;
    }
    .costume-column img {
        max-width: 140px !important;
        padding-top: 5px;
    }
    .overlay-charged-moves {
        margin-bottom: 10px !important;
    }
}

@media (min-width: 481px) and (max-width: 767px) { /* For tablets and smaller devices */
    .pokemon-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: flex-start; /* Aligns content to start from the top */
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1000;
        flex-direction: column;
        padding-top: 150px; /* Pushes all content down by 150px */
        overflow-y: scroll; /* Enables scrolling for the entire overlay */
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For Internet Explorer and Edge */
    }

    .pokemon-overlay::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Opera */
    }

    .overlay-row {
        display: flex;
        flex-direction: column; /* Stack the rows vertically on smaller screens */
        width: 100%; /* Full width of the container */
        gap: 10px; /* Space between windows */
    }

    .overlay-row.other-overlays-row {
        position: relative;
        top: 0px; /* Eliminate this if it's still causing issues */
        width: 100%; /* Full width of the container */
        /* flex-direction: column; Stack the elements vertically */
    }

    .overlay-content {
        max-height: none; /* Remove max height to allow full height of content */
        overflow: visible; /* Make sure the content is visible without its own scroll */
    }

    .overlay-evolves-from, .overlay-evolves-to {
        max-height: 100px;
    }
    .overlay-all-moves {
        margin-bottom: 10px !important;
    }

    .overlay-charged-moves {
        margin-bottom: 10px !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .pokemon-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: flex-start; /* Aligns content to start from the top */
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1000;
        flex-direction: column;
        padding-top: 150px; /* Pushes all content down by 150px */
        overflow-y: scroll; /* Enables scrolling for the entire overlay */
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For Internet Explorer and Edge */
    }

    .pokemon-overlay::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Opera */
    }

    .overlay-row {
        display: flex;
        /* flex-direction: column; */
        width: 100%; /* Full width of the container */
        gap: 10px; /* Space between windows */
    }

    .overlay-row .other-overlays-row {
        position: relative;
        top: 0px; /* Eliminate this if it's still causing issues */
        width: 100%; /* Full width of the container */
        flex-direction: column; /* Stack the elements vertically */
    }

    .overlay-content {
        max-height: none; /* Remove max height to allow full height of content */
        overflow: visible; /* Make sure the content is visible without its own scroll */
    }

    .overlay-evolves-from, .overlay-evolves-to {
        max-height: 100px;
    }
    .overlay-all-moves {
        margin-bottom: 10px !important;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    @media (min-width: 1024px) and (max-width: 1439px) {
    }
    .column {
        padding: 0px;
    }
    .overlay-row .other-overlays-row {
        display: flex;
        flex-direction: row; /* Align children in a row */
        align-items: flex-start; /* Align items to the start of the flex container */
    }
    .overlay-content {
        font-size: 12px !important;
        padding: 10px;
    }
    .overlay-content h1 {
        font-size: 16px !important;
    }
    .overlay-content h2 {
        font-size: 14px !important;
    }
    .moves-column {
        padding: 0px !important;
    }
    .moves-column img {
        width: 18px;
        height: 18px;
    }
    .overlay-charged-moves {
        max-height: 560px;
    }
    .overlay-main-info{
        margin-bottom: 10px !important;
    }
    .overlay-shiny-info{
        margin-bottom: 10px !important;
    }
    .main-info-column img {
        max-width: 160px !important; 
    }
    .shiny-info-column img {
        max-width: 160px !important; 
    }
    .costume-column img {
        max-width: 120px !important; 
    }
    .fullscreen-toggle {
        font-size: 12px;
    }
    .shadow-info-column img {
        max-width: 120px !important;
        padding-bottom: 10px !important;
    }
    .gender-toggle-icon {
        width: 25px !important;
        height: 25px !important;
    }
}

@media (min-width: 1440px) and (max-width: 1720px) {
    .overlay-content {
        font-size: 14px !important;
        padding: 0px;
    }
    .overlay-content h1 {
        font-size: 18px !important;
    }
    .overlay-content h2 {
        font-size: 16px !important;
    }
    .moves-column {
        padding: 0px !important;
    }
    .moves-column img {
        width: 20px;
        height: 20px;
    }
    .overlay-charged-moves {
        max-height: 560px;
    }
    .main-info-column img {
        max-width: 180px !important; 
    }
    .shiny-info-column img {
        max-width: 180px !important; 
    }
    .costume-column img {
        max-width: 140px !important; 
    }
    .fullscreen-toggle {
        font-size: 12px;
    }
    .shadow-info-column img {
        max-width: 120px !important;
        padding-bottom: 10px !important;
    }
    .gender-toggle-icon {
        width: 30px !important;
        height: 30px !important;
    }
}