.pokemon-container {
    background-color: #111;
    display: grid;
    grid-template-columns: repeat(9, 1fr); 
    gap: 16px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* Adjusts to full width of the viewport */
}

@media (max-width: 480px) {
    .pokemon-container {
        grid-template-columns: repeat(5, 1fr);
        padding: 5px;
        width: calc(100vw - 20px);
        gap: 6px;
    }
    .type-icons img {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .pokemon-container {
        grid-template-columns: repeat(6, 1fr);
        padding: 5px;
        width: calc(100vw - 20px); /* Adjust width if necessary */
        gap: 6px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .pokemon-container {
        grid-template-columns: repeat(6, 1fr);
        padding: 10px;
        width: calc(100vw - 20px); /* Adjust width if necessary */
        gap: 9px;
    }
}

@media (min-width: 1024px) {
    .pokemon-container {
        grid-template-columns: repeat(9, 1fr);
        padding: 10px;
        width: calc(100vw - 10px); /* Adjust width if necessary */
        gap: 9px;
    }
}
