EXPO_PUBLIC_AUTH_API_URL=https://pokemongonexus.com/api/auth
EXPO_PUBLIC_USERS_API_URL=https://pokemongonexus.com/api/users
EXPO_PUBLIC_SEARCH_API_URL=https://pokemongonexus.com/api/search
EXPO_PUBLIC_POKEMON_API_URL=https://pokemongonexus.com/api/pokemon
EXPO_PUBLIC_LOCATION_API_URL=https://pokemongonexus.com/api/location
EXPO_PUBLIC_EVENTS_API_URL=https://pokemongonexus.com/api/events
EXPO_PUBLIC_RECEIVER_API_URL=https://pokemongonexus.com/api/receiver
EXPO_PUBLIC_CRASH_REPORT_URL=
EXPO_PUBLIC_CRASH_REPORT_API_KEY=
EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_APP_RELEASE=mobile@1.0.0
EXPO_PUBLIC_REALTIME_ALLOW_QUERY_TOKEN=false
