/* DateCaughtComponent.css */
.date-container {
  display: flex;
  flex-direction: column;
  color: white;  /* Set text color to white for visibility against a darker background */
  margin-top: 5px;
}

.date-field span {
  cursor: pointer;
  background-color: transparent;
  display: block; /* Changed from inline-block to block to fill the width */
  width: 100%; /* Ensures the span does not exceed its container */
  min-height: 20px; /* Set a minimum height */
  word-wrap: break-word; /* Allows long words to break and wrap to the next line */
  white-space: normal; /* Ensures text wraps to a new line when necessary */
  overflow-wrap: break-word; /* Ensure proper word break behavior */
  border: 1px solid transparent; /* Always have a border but transparent when not editable */
  padding: 0px; /* Ensure consistent padding */
  box-sizing: border-box;
  height: 24px; /* Set a fixed height */
}

.date-field span.editable {
  cursor: text; /* Changes cursor to text in edit mode */
  border: 1px solid white;
  overflow: hidden;
}

.date-field span.text {
  border: 1px solid transparent; /* No border when not in edit mode */
}

.date-field span:focus {
  outline: none;  /* Remove the default focus outline */
}

.date-field label {
  display: block;  /* Ensures the label is on its own line */
  margin-bottom: 5px;
}

