/* FavoriteComponent.css */

.favorite-component img {
    width: 24px;
    height: 24px;
    cursor: pointer
}

.favorite-component {
    cursor: default;
  }
  
  .favorite-component.editable {
    cursor: pointer;
  }