/* FavoriteComponent.css */

.favorite-component {
    display: flex;
    justify-content: flex-end; /* Align the image to the right */
    align-items: center; /* Center the image vertically */
}

.favorite-component img {
    width: 24px;
    height: 24px;
    cursor: default; /* Default cursor for image outside edit mode */
}

/* Only change cursor to pointer when the component is in editable mode */
.favorite-component.editable img {
    cursor: pointer; /* Pointer cursor for image when component is editable */
}
