/* HeightComponent.css */
.height-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .height-display {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .height-editable-container {
    display: flex;
    align-items: center;
    position: relative; /* Ensure relative positioning for absolute positioning of button */
  }
  
  .height-editable-content {
    outline: none; /* Remove focus outline */
    background: transparent; /* Ensure no background color */
    border-bottom: 1px solid transparent; /* Transparent border that can be colored on focus/edit */
    display: inline-block; /* Ensure the element behaves inline */
    min-width: 30px; /* Ensure there's space for the cursor */
    text-align: right; /* Align text to the right */
    height: 24px; 
    line-height: 24px;
    margin-top: 1px;
    margin-bottom: -1px;
  }
  
  .height-label {
    font-size: 12px;
    color: grey;
    margin-top: 2px; /* Space between value and label */
    text-align: center; /* Center the label text */
  }
  