/* LocationSearch.css */
.location-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative; /* Ensure it is the positioning context for absolute elements */
}

.location-search h3 {
    margin-block-start: 10px;
}

.location-header {
    text-align: center;
    width: 100%;
}

.location-container {
    display: flex;
    width: 100%;
    justify-content: space-around; /* Adjust space between columns */
}

.location-button-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* Ensure it takes equal space */
}

.location-button-centered button {
    padding: 10px 15px;
    width: 200px;
    cursor: pointer;
}

.location-field {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%; /* Adjust width as needed */
    position: relative; /* Relative positioning for suggestion dropdown */
}

.location-input {
    display: flex; /* Changed to flex to align items horizontally */
    align-items: center; /* Center label and input vertically */
    position: relative; /* Ensure dropdown is positioned relative to input */
    justify-content: center;
}

.location-input label {
    margin-right: 10px; /* Space between label and input */
    white-space: nowrap; /* Prevent label text from wrapping */
}

.location-input input {
    flex: 1;
    padding: 3px;
    box-sizing: border-box;
}

/* Container for both sliders */
.sliders-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0; /* Add margin to create space around the sliders */
}

.range-field, .results-limit {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0 10px; /* Add padding to each field for spacing */
}

.range-field label, .results-limit label {
    margin-bottom: 5px;
}

.range-field input[type="range"], 
.results-limit input[type="range"] {
    width: 75%;
}

/* Search button styling */
.location-search-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.location-search-button button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Suggestions dropdown styling */
.suggestions {
    background-color: #333;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    margin-top: 5px;
    max-height: 150px;
    overflow-y: auto;
    width: 80%;
    z-index: 1000; /* Ensure it appears above other elements */
    position: absolute; /* Position relative to the input field */
    box-sizing: border-box;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #e0e0e0;
}

.view-toggle-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
  
.view-toggle-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
}
