/* LocationSearch.css */
.location-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.location-header {
    text-align: center;
    width: 100%;
}

.location-search h3 {
    margin-block-start: 10px;
}

.location-search .location-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between; /* Space between columns */
}

.location-fields, .location-buttons {
    flex: 1; /* Both columns will take equal space */
    display: flex;
    flex-direction: column;
    max-width: 50%; /* Each column should not exceed 50% width */
    box-sizing: border-box; /* Ensure padding/border does not cause overflow */
}

.field {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Space between fields */
    width: 100%; /* Use full available width */
}

.field label {
    width: 105px; /* Adjust the label width as needed */
    min-width: 80px; /* Prevent shrinking below this width */
    white-space: nowrap; /* Prevent text wrapping */
    text-align: right; /* Align text to the right */
    margin-right: 10px; /* Add space between label and input */
}

.field input[type="range"] {
    flex: 1; /* Make sure range input fills available space */
    margin-left: 5px; /* Add some space between label and range input */
}

.field input[type="text"] {
    flex: 1; /* Allow input to take the rest of the space */
    padding: 3px;
    margin-right: 10px;
}

/* Button styling */
.location-buttons button {
    padding: 5px 10px;
    cursor: pointer;
}

/* Search button container styling */
.location-search-button {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    margin-top: 20px; /* Add space between the button and fields */
}

.location-search-button button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.suggestions {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-top: 5px;
    max-height: 100px;
    overflow-y: auto;
}

.suggestion-item {
    padding: 5px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #e0e0e0;
}


.view-toggle-buttons {
    margin-top: 20px;
    text-align: center;
  }
  
  .view-toggle-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
  }