/* OwnershipSearch.css */

.ownership-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
  }

  .ownership-status h3 {
    margin-block-start: 10px;
}
  
  .ownership-header {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .ownership-options {
    display: flex;
    gap: 15px; /* Add space between each option */
  }
  
  .ownership-option {
    display: flex;
    align-items: center;
  }
  
  .ownership-option input[type="radio"] {
    margin-right: 5px; /* Space between radio button and label */
  }
  
  /* Optional: Hover effect on the labels */
  .ownership-option:hover {
    color: #fff;
  }
  