/* VariantSearch.css */

/* Container for the entire component */
.pokemon-variant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pokemon-variant-container h3 {
    margin-block-start: 10px;
  }
  
  /* Main content area, with left and right sections */
  .main-content {
    display: flex;
    justify-content: space-between;
  }
  
  /* Details section styling */
  .pokemon-variant-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  /* Search field row styling */
  .pokemon-search-row {
    margin-bottom: 10px; /* Margin below the search field */
  }
  
  /* Button container styling */
  .button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px; /* Margin below the buttons */
  }
  
  /* Styling for form dropdown */
  .form-dropdown {
    margin-bottom: 10px; /* Margin below the form dropdown */
  }
  
  /* Image section styling */
  .pokemon-variant-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Error message row styling */
  .pokemon-variant-error-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Error message styling */
  .error-message {
    color: red;
    font-weight: bold;
    text-align: center;
  }
  
  /* Button styles */
  .button-container button {
    width: 50px; /* Adjust width as needed */
    background-color: #ccc;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: background-color 0.3s ease;
  }
  
  /* Icon styles */
  .button-container img {
    width: 24px;
    height: 24px;
  }
  
  /* Active button styles */
  .button-container .shiny-button.active {
    background-color: gold;
  }
  .button-container .costume-button.active {
    background-color: cyan;
  }
  
  .button-container .shadow-button.active {
    background-color: rgb(182, 92, 182);
  }
  
  /* Hover styles */
  .button-container .shiny-button:hover {
    background-color: #ffcc00;
  }
  
  .button-container .costume-button:hover {
    background-color: rgb(58, 216, 216);
  }
  
  .button-container .shadow-button:hover {
    background-color: rgb(152, 0, 152);
  }
  
  /* Hover states for active buttons */
  .button-container .shiny-button.active:hover {
    background-color: #ffcc00;
  }
  
  .button-container .costume-button.active:hover {
    background-color: rgb(58, 216, 216); /* Slightly darker color */
  }
  
  .button-container .shadow-button.active:hover {
    background-color: rgb(152, 0, 152);
  }
  
  /* Image styling */
  .pokemon-variant-image img {
    width: 200px;
    height: 200px;
  }
  
  @media (max-width: 480px) {
    .main-content {
      flex-direction: column;
      align-items: center;
    }
    .button-container img {
      width: 20px;
      height: 20px;
    }
  }
  
  @media (min-width: 1024px) {
    .button-container img {
      width: 32px;
      height: 32px;
    }
    .button-container button {
      padding: 8px; /* Adjust padding */
    }
  }  