/* VariantSearch.css */

/* Container for the entire component */
.pokemon-variant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}

.pokemon-variant-container h3 {
  margin-block-start: 10px;
}

/* Main content area with flexible columns */
.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 320px;
}

/* Details section styling */
.pokemon-variant-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Image section styling */
.pokemon-variant-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  min-width: 200px;
  background-color: transparent;
  flex: 0 0 200px;
}

/* Moves and Gender section styling */
.pokemon-moves-gender-section {
  flex: 1;
  display: flex;
  flex-direction: column; /* Ensure moves and gender are in the same column */
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  width: 200px;
}

/* Search field row styling */
.pokemon-search-row {
  margin-bottom: 10px;
}

.pokemon-search-row input[type="text"] {
  padding: 3px;
  width: 170px;
}

/* Button container styling */
.button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

/* Styling for form dropdown */
.form-dropdown {
  margin-bottom: 7px;
}

/* Button styles */
.pokemon-variant-container .button-container button {
  width: 50px;
  background-color: #ccc;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

/* Icon styles */
.button-container img {
  width: 24px;
  height: 24px;
}

/* Active button styles */
.button-container .shiny-button.active {
  background-color: gold;
}
.button-container .costume-button.active {
  background-color: cyan;
}

.button-container .shadow-button.active {
  background-color: rgb(182, 92, 182);
}

/* Hover styles */
.button-container .shiny-button:hover {
  background-color: #ffcc00;
}

.button-container .costume-button:hover {
  background-color: rgb(58, 216, 216);
}

.button-container .shadow-button:hover {
  background-color: rgb(152, 0, 152);
}

/* Hover states for active buttons */
.button-container .shiny-button.active:hover {
  background-color: #ffcc00;
}

.button-container .costume-button.active:hover {
  background-color: rgb(58, 216, 216);
}

.button-container .shadow-button.active:hover {
  background-color: rgb(152, 0, 152);
}

/* Image styling */
.pokemon-variant-image img {
  width: 200px;
  height: 200px;
}

/* Gender Search section styling */
.gender-toggle-container {
  margin-top: 10px;
}

/* Responsive layout adjustments */
@media (max-width: 480px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }
  .button-container img {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 1024px) {
  .pokemon-variant-container .button-container img {
    width: 32px;
    height: 32px;
  }
  .pokemon-variant-container .button-container button {
    padding: 8px;
  }
}
