/* DateCaughtComponent.css */
.date-container {
  position: relative; /* Relative position for absolute child positioning */
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  text-align: center;
}

.date-field {
  position: relative; /* Ensure the date picker positions relative to this field */
}

.calendar-overlay {
  position: absolute; /* Position absolutely to overlay */
  top: 100%; /* Position below the input field */
  left: 0;
  z-index: 1000; /* Ensure it's above other content */
}

.date-field span {
  background-color: transparent;
  display: block;
  width: 100%;
  min-height: 20px;
  border: 1px solid transparent;
  padding: 0;
  box-sizing: border-box;
  height: 24px;
}

.date-field span.editable {
  cursor: text;
  border: 1px solid white;
  overflow: hidden;
}

.date-field span.text {
  border: 1px solid transparent;
}

.date-field span:focus {
  outline: none;
}

.date-field label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px
}

