/* LuckyComponent.css */

.lucky-component {
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Centers the image vertically */
    justify-content: flex-start; /* Aligns the image to the left */
    height: 100%; /* Adjust height as necessary */
    margin-top: 0px;
    margin-bottom: 0px;
}

.lucky-component img {
    width: 36px;
    height: auto; /* Keeps image aspect ratio intact */
    cursor: default; /* Default non-interactive cursor */
}

.lucky-on, .lucky-off {
    cursor: pointer; /* Only show pointer when editable */
}

.lucky-on {
    filter: brightness(150%) sepia(100%) hue-rotate(-30deg) saturate(800%);
    cursor: pointer;
  }  

.lucky-off {
    filter: brightness(50%); /* Makes the image less bright */
}

/* Add these styles if the component should only react when editable */
.lucky-component.editable img {
    cursor: pointer; /* Show pointer cursor to indicate interactivity */
}
