/* TradeCard.css */

/* Ensure offering and receiving sections are spaced properly */
.trade-card .trade-pokemon {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/* Ensure text remains visually neat */
.trade-card p, .trade-card h4 {
  margin-block-start: 4px;
  margin-block-end: 4px;
}

/* Ensure each Pokémon section is properly aligned */
.trade-card .pokemon {
  flex: 1;
  width: 5rem;  /* Adjust width as needed */
  height: auto;
  text-align: center;
  display: flex;         /* Make it a flex container */
  flex-direction: column; /* Stack content vertically */
  align-items: center;   /* Center all content horizontally */
  justify-content: center;
}

/* Styling for the center column (trade icon and buttons) */
.trade-card .center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Trade icon should be centered properly */
.trade-card .center-column .trade-icon {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
}

/* Set consistent styles for Pokémon images */
.trade-card .pokemon-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Ensure Pokémon images scale properly and remain centered */
.trade-card .pokemon-image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
}

@media (max-width: 480px) {
  .trade-card p, .trade-card h4 {
    margin-block-start: 2px;
    margin-block-end: 2px;
    font-size: 0.5rem;
  }
  .trade-card .center-column .trade-icon img{
    width: 2rem;
    height: auto;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .trade-card p, .trade-card h4 {
    margin-block-start: 2px;
    margin-block-end: 2px;
    font-size: 0.75rem;
  }
  .trade-card .center-column .trade-icon img{
    width: 3rem;
    height: auto;
  }
}
