.howItWorks {
    background-color: #111;
    width: 100%;
    text-align: center;
    padding: clamp(1rem, 2vw, 2rem) 0;
    color: white;
  }
  
  /* Common row container */
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  /* Section divider styling */
  .section-divider {
    width: 80%;
    height: 2px;
    background-color: #333;
    margin: 2rem auto;
  }

.howItWorks h2 {
  font-size: clamp(1.3rem, 3vw, 2rem);
  margin-block-start: 0.5rem;
}
  