/* HowItWorks.css */

.howItWorks {
    background-color: #111;
    width: 100%;
    text-align: center;
    padding: clamp(1rem, 2vw, 2rem) 0;
    color: white;
  }
  
  .howItWorks h2 {
    margin-bottom: 1rem;
  }
  
  /* Common row container */
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
  }
  