/* CollectUI.css */

/* Common styles */
.collect-ui {
  flex-grow: 3;
}

/* Overlay styles for small screens when isEditable is true */
.collect-overlay {
  position: absolute;
  top: 100%; /* Position below the Collect button */
  left: 0;
  right: 0;
  background-color: #333;
  color: white;
  z-index: 1000;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* Button container */
.collect-ui .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Non-editable collect */
.non-editable-collect {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.non-editable-collect .context-text {
  margin-right: 10px;
}

/* Adjust layout for non-editable state */
.collect-ui .button-container.non-editable {
  align-items: center;
}

.collect-ui .button-container.non-editable button {
  width: auto;
}

/* Buttons inside button-container */
.collect-ui .button-container button {
  width: 100%;
  justify-content: center;
  background-color: #ccc; /* Default background color */
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
  font-size: 14px;
}

/* Remove margin-bottom from the last button */
.collect-ui .button-container button:last-child {
  margin-bottom: 0;
}

/* Images inside button-container */
.collect-ui .button-container img {
  width: 24px;
  height: 24px;
}

/* Increase button size in overlay mode */
.collect-overlay .button-container button {
  padding: 15px;
  font-size: 16px;
}

.collect-overlay .button-container img {
  width: 28px;
  height: 28px;
}

/* Active state styles for buttons */
.collect-ui .button-container .select-all-button.active {
  background-color: #47bbb7;
}

.collect-ui .button-container .fast-select-button.active {
  background-color: rgb(255, 246, 123);
}

/* Active state for pokedex-button */
.collect-ui .button-container .pokedex-button.pokedex-active {
  background-color: #ef4d4d; /* Light red background when active */
}

/* Hover states for buttons */
.collect-ui .button-container button:hover {
  background-color: #bbb;
}

.collect-ui .button-container .select-all-button:hover {
  background-color: #3ea5a2;
}

.collect-ui .button-container .fast-select-button:hover {
  background-color: rgb(255, 223, 40);
}

/* Hover state for pokedex-button */
.collect-ui .button-container .pokedex-button:hover {
  background-color: rgb(201, 44, 44); /* Slightly darker red on hover */
}

/* Default Lists button styles */
.collect-ui .button-container .lists-button {
  background-color: #ccc; /* Grey background when ownershipFilter is '' */
  color: black;
}

/* Hover state for the default Lists button */
.collect-ui .button-container .lists-button:hover {
  background-color: #bbb;
}

/* Styles for the Lists button when ownershipFilter is set */
.collect-ui .button-container .lists-button.owned {
  background-color: #2196F3; /* Blue for Owned */
  color: white;
}

.collect-ui .button-container .lists-button.trade {
  background-color: #4CAF50; /* Green for Trade */
  color: white;
}

.collect-ui .button-container .lists-button.wanted {
  background-color: #F44336; /* Red for Wanted */
  color: white;
}

.collect-ui .button-container .lists-button.unowned {
  background-color: #9E9E9E; /* Grey for Unowned */
  color: white;
}

/* Hover states for the Lists button when ownershipFilter is set */
.collect-ui .button-container .lists-button.owned:hover {
  background-color: #1976D2; /* Darker blue on hover */
}

.collect-ui .button-container .lists-button.trade:hover {
  background-color: #388E3C; /* Darker green on hover */
}

.collect-ui .button-container .lists-button.wanted:hover {
  background-color: #D32F2F; /* Darker red on hover */
}

.collect-ui .button-container .lists-button.unowned:hover {
  background-color: #757575; /* Darker grey on hover */
}

/* Adjust font size for Lists button when it's "Unowned" */
.collect-ui .button-container .lists-button.unowned {
  font-size: 12px; /* Decrease font size by 2px from default (14px) */
}

/* Styles for the Lists button in non-editable state */
.non-editable-collect .lists-button {
  /* Apply the same dynamic classes */
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  font-size: 14px;
  margin-left: 10px; /* Adjust spacing as needed */
  background-color: #ccc; /* Default background color */
  color: black;
}

/* Hover state for the Lists button in non-editable state */
.non-editable-collect .lists-button:hover {
  background-color: #bbb; /* Default hover color */
}

/* Adjust font size for Lists button in non-editable state when it's "Unowned" */
.non-editable-collect .lists-button.unowned {
  font-size: 12px; /* Decrease font size by 2px from default (14px) */
}

/* Hover states for the Lists button in non-editable state when ownershipFilter is set */
.non-editable-collect .lists-button.owned {
  background-color: #2196F3; /* Blue for Owned */
  color: white;
}

.non-editable-collect .lists-button.owned:hover {
  background-color: #1976D2;
}

.non-editable-collect .lists-button.trade {
  background-color: #4CAF50; /* Green for Trade */
  color: white;
}

.non-editable-collect .lists-button.trade:hover {
  background-color: #388E3C;
}

.non-editable-collect .lists-button.wanted {
  background-color: #F44336; /* Red for Wanted */
  color: white;
}

.non-editable-collect .lists-button.wanted:hover {
  background-color: #D32F2F;
}

.non-editable-collect .lists-button.unowned {
  background-color: #9E9E9E; /* Grey for Unowned */
  color: white;
}

.non-editable-collect .lists-button.unowned:hover {
  background-color: #757575;
  font-size: 12px; /* Decrease font size by 2px from default (14px) */
}

/* Context Text Styling */
.context-text-container {
  text-align: center;
  margin-right: 10px;
  margin-left: -10px;
}

.collect-overlay .context-text-container {
  text-align: center;
  margin-left: unset;
  margin-right: unset;
}

.context-text-container.editing .context-text {
  color: #d4f8d4; /* Light green */
}

.context-text-container.viewing .context-text {
  color: #d4e6f8; /* Light blue */
}

.context-text-container.viewing-all .context-text {
  color: #f8d4d4; /* Light red */
}

.context-text-container .username {
  font-weight: bold;
}

.collect-overlay p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-bottom: 5px;
  font-size: 12px;
}

/* Responsive Styles */

/* Small screens */
@media (max-width: 480px) {
  .collect-ui .button-container img {
    width: 24px;
    height: 24px;
  }
  .collect-ui .button-container button {
    padding: 8px;
    height: 40px;
    font-size: 10px;
  }
  /* Adjust font size for Lists button when it's "Unowned" */
  .collect-ui .button-container .lists-button.unowned {
    font-size: 8px; /* Decrease font size by 2px from 10px */
  }
  .non-editable-collect .lists-button.unowned {
    font-size: 8px; /* Decrease font size by 2px from 10px */
  }
  .collect-overlay .button-container button {
    padding: 10px;
    font-size: 10px;
  }
  .collect-overlay .button-container img {
    width: 28px;
    height: 28px;
  }
  .collect-overlay p {
    font-size: 10px;
  }
  .non-editable-collect .context-text {
    font-size: 10px;
  }
}

/* Medium screens */
@media (min-width: 481px) and (max-width: 1023px) {
  .collect-ui .button-container button {
    padding: 8px;
    width: 44px;
    height: 44px;
    font-size: 12px;
  }
  /* Adjust font size for Lists button when it's "Unowned" */
  .collect-ui .button-container .lists-button.unowned {
    font-size: 10px; /* Decrease font size by 2px from 12px */
  }
  .non-editable-collect .lists-button.unowned {
    font-size: 10px; /* Decrease font size by 2px from 12px */
  }
  .collect-ui .button-container img {
    width: 28px;
    height: 28px;
  }
  .collect-overlay .button-container button {
    padding: 12px;
    font-size: 12px;
  }
  .collect-overlay .button-container img {
    width: 32px;
    height: 32px;
  }
  .collect-overlay p {
    font-size: 12px;
  }
  .non-editable-collect .context-text {
    font-size: 12px;
  }
}

/* Extra large screens */
@media (min-width: 1024px) {
  .collect-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .collect-ui .button-container {
    display: grid;
    grid-template-columns: auto 60px 60px 60px;
    grid-template-rows: 48px;
    gap: 10px;
    align-items: center;
    justify-items: start;
  }
  .collect-ui .button-container img {
    width: 32px;
    height: 32px;
  }
  .collect-ui .button-container button {
    padding: 8px 14px;
    margin-bottom: 0;
    font-size: 14px;
    width: 60px;
    height: 48px;
  }
  /* Adjust font size for Lists button when it's "Unowned" */
  .collect-ui .button-container .lists-button.unowned {
    font-size: 12px; /* Decrease font size by 2px from 14px */
  }
  .non-editable-collect .lists-button.unowned {
    font-size: 12px; /* Decrease font size by 2px from 14px */
  }
  .non-editable-collect .context-text {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 14px;
    margin-right: 10px;
  }
  .collect-ui-toggle {
    display: unset;
  } 
  .non-editable-collect .lists-button {
    height: 48px;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}