/* OwnershipSearch.css */

.ownership-status-container {
  display: flex;
  flex-direction: row; /* Arrange items side by side */
  align-items: flex-start; /* Align items at the top */
  justify-content: right;
  width: 100%;
  padding-right: 20px;
}

.ownership-status-container h3 {
  margin-block-start: 10px;
}

/* Left Column: Dynamic content */
.ownership-content {
  flex: 1; /* Take up remaining space */
  max-width: 350px; /* Optional max width for the content area */
  height: 100%
}

/* Right Column: Ownership buttons */
.ownership-options-container {
  display: flex;
  flex-direction: column; /* Arrange buttons in a column */
  align-items: flex-end;
  max-width: 200px; /* Set a max width for the button column */
}

.ownership-options {
  display: flex;
  flex-direction: column; /* Arrange buttons in a column */
  gap: 10px; /* Add space between each button */
  align-items: stretch; /* Stretch buttons to fill the width */
}

.ownership-button {
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e0e0e0; /* Light grey background for non-active buttons */
  color: #000; /* Default text color */
  width: 100%; /* Full width for buttons */
}

/* Active button styles with their specific colors */
.ownership-button.active.owned {
  background-color: #2196F3; /* Blue for 'Owned' */
}

.ownership-button.active.trade {
  background-color: #2e8631; /* Green for 'Trade' */
}

.ownership-button.active.wanted {
  background-color: #F44336; /* Red for 'Wanted' */
}

.ownership-button.inactive.owned:hover,
.ownership-button.active.owned:hover {
  background-color: #176bbe; /* Darker Blue */
}

.ownership-button.inactive.trade:hover,
.ownership-button.active.trade:hover {
  background-color: #327e36; /* Darker Green */
}

.ownership-button.inactive.wanted:hover, 
.ownership-button.active.wanted:hover {
  background-color: #be2c2c; /* Darker Red */
}