/* VariantSearch.css */

/* Container for the entire component */
.pokemon-variant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}

.pokemon-variant-container h3 {
  margin-block-start: 10px;
}

/* Main content area with flexible columns */
.pokemon-variant-container .main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 600px; /* 3 columns * 200px */
}

/* Details section styling */
.pokemon-variant-details {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Image section styling */
.pokemon-variant-image {
  width: 200px;
  height: 200px;
  position: relative; /* Allows for background image positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures background image stays within bounds */
}

.pokemon-variant-container .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7) 45%, rgba(0, 0, 0, 0.3) 65%, transparent 70%);
}

.pokemon-variant-container .brightness-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 70%);
  z-index: 2;
}

.pokemon-variant-image-error {
  color: red;
  font-size: 14px;
}

/* Styling for the Pokémon image */
.pokemon-variant-container .pokemon-image {
  max-width: 100%;
  z-index: 3;
}

/* Moves and Gender section styling */
.pokemon-moves-gender-section {
  width: 200px;
  display: flex;
  flex-direction: column; /* Ensure moves and gender are in the same column */
  align-items: center;
  border-radius: 8px;
  justify-content: flex-end;
  margin-bottom: 5px;
  margin-left: 10px;
}

.gender-search-container {
  width: 100%; /* Matches the width of the GenderSearch component */
  min-height: 40px; /* Fixed height to reserve space */
  display: flex;
  justify-content: center; /* Center any content if needed */
  align-items: center; /* Center any content if needed */
}

/* Search field row styling */
.pokemon-search-row {
  margin-bottom: 10px;
}

.pokemon-search-row input[type="text"] {
  width: 180px; /* Slight adjustment for better spacing */
  padding: 3px;
}

/* Button container styling */
.pokemon-variant-container .button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

/* Styling for form dropdown */
.form-dropdown {
  margin-bottom: 7px;
}

/* Button styles */
.pokemon-variant-container .button-container button {
  width: 50px;
  background-color: #ccc;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

/* Icon styles */
.pokemon-variant-container .button-container img {
  width: 24px;
  height: 24px;
}

/* Active button styles */
.pokemon-variant-container .button-container .shiny-button.active {
  background-color: gold;
}
.pokemon-variant-container .button-container .costume-button.active {
  background-color: cyan;
}

.pokemon-variant-container .button-container .shadow-button.active {
  background-color: rgb(182, 92, 182);
}

/* Hover styles */
.pokemon-variant-container .button-container .shiny-button:hover {
  background-color: #ffcc00;
}

.pokemon-variant-container .button-container .costume-button:hover {
  background-color: rgb(58, 216, 216);
}

.pokemon-variant-container .button-container .shadow-button:hover {
  background-color: rgb(152, 0, 152);
}

/* Hover states for active buttons */
.pokemon-variant-container .button-container .shiny-button.active:hover {
  background-color: #ffcc00;
}

.pokemon-variant-container .button-container .costume-button.active:hover {
  background-color: rgb(58, 216, 216);
}

.pokemon-variant-container .button-container .shadow-button.active:hover {
  background-color: rgb(152, 0, 152);
}

/* Image styling */
.pokemon-variant-container .pokemon-variant-image img {
  width: 200px;
  height: 200px;
}

.gender-background-row {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligns the row items to the left */
  width: 100%; /* Full width of the container */
  position: relative; /* Allows for centering with absolute positioning */
  height: 40px
}

.gender-search-container {
  flex: 0 0 auto; /* Prevents it from growing or shrinking */
  margin-right: auto; /* Pushes the next element to the right */
}

.background-button-container {
  position: absolute; /* Allows centering within the parent div */
  left: 50%; /* Center horizontally relative to the parent */
  transform: translateX(-50%); /* Offset by half its own width to achieve true center */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-variant-container .background-button {
  cursor: pointer;
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
}

.autocomplete-suggestions {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  color: black;
}

.autocomplete-suggestions li {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-suggestions li:hover {
  background-color: #f0f0f0;
}

/* Responsive layout adjustments */
@media (max-width: 480px) {
  .pokemon-variant-container .main-content {
    flex-direction: column;
    min-width: 100%;
    align-items: center;
  }
  .button-container img {
    width: 20px;
    height: 20px;
  }
  .pokemon-variant-container {
    padding-left: 0px
  }
  .pokemon-variant-details {
    align-items: center;
    width: 100%;
  }
  .pokemon-search-row {
    width: 65%;
  }
  .pokemon-search-row input[type="text"] {
    width: 100%;
  }
  .pokemon-variant-container .button-container button {
    width: 40px;
    height: 40px;
  }

  .pokemon-moves-gender-section {
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .pokemon-variant-container h3 {
    margin-block-end: 10px;
    margin-block-start: 0px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .pokemon-variant-container {
    padding-left: unset;
    padding-right: 10px;
  }
  .pokemon-variant-container .main-content {
    display: flex;
    flex-wrap: wrap;
  }

  /* Put details and image in the same row */
  .pokemon-variant-details,
  .pokemon-variant-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
  }

  .pokemon-variant-container .main-content {
    min-width: 480px;
    justify-content: center;
  }

  .pokemon-search-row input[type="text"] {
    width: 200px;;
  }

  .pokemon-variant-container .button-container button {
    width: 45px;
    height: 45px;
  }

  /* Move moves and gender section to a new row */
  .pokemon-moves-gender-section {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-left: unset;
  }
}

@media (min-width: 1024px) {
  .pokemon-variant-container .button-container img {
    width: 32px;
    height: 32px;
  }
  .pokemon-variant-container .button-container button {
    padding: 8px;
  }
}
