/* TradeDetails.css */
.trade-details-container {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.trade-details-container .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    padding-top: 10px;
}

.trade-details-container h3 {
    margin-block-start: 0px;
    margin-block-end: 5px;
}

.trade-details-container .include-few h3 {
    margin-block-start: 15px;
    margin-block-end: 15px;
}

.trade-details-container .edit-save-container,
.trade-details-container .mirror {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.trade-details-container .edit-save-container {
    left: 0;
}

.trade-details-container .edit-save-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trade-details-container .reset-container {
    margin-top: 100px;
    margin-left: -2px;
    filter: invert(1);
}

.trade-details-container .reset-container img {
    transition: filter 0.3s ease, cursor 0.3s ease;
}

.trade-details-container .reset-container.editable img {
    cursor: pointer;
}

.trade-details-container .mirror {
    right: 0;
}

.trade-details-container .header-group {
    flex-grow: 1;
    text-align: center;
    margin-top: -15px;
}

.trade-details-container .image-row-container {
    display: flex;
    justify-content: space-between;
    margin-top: -10px
}

.trade-details-container .image-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trade-details-container .image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.trade-details-container h2 {
    margin: 10px 0px -10px;
}

.for-trade h2 {
    font-size: 16px;
}

.trade-details-container.include-few ~ h2 {
    margin: -20px 0 -10px;
    font-size: 18px;
}

.trade-details-container .mirror img {
    width: 60px;
    height: 60px;
    margin-right: -15px;
}

.trade-details-container .hearts img {
    width: 40px;
}

.wanted-item-img.grey-out, 
.grey-out {
    filter: grayscale(100%);
    opacity: 0.5;
}

.trade-details-container .hearts {
    display: flex;
    justify-content: center;
}

.trade-details-container .friendship-slider {
    width: 100%;
}

.trade-details-container .wanted-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
    overflow-y: auto; /* Enables scrolling */
    max-height: 625px; /* Adjust based on your layout */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.trade-details-container .wanted-list-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.trade-details-container .wanted-item img.wanted-item-img {
    width: 120px; /* Adjusts width */
    height: auto; /* Maintains aspect ratio */
    border-radius: 8px; /* Rounds corners */
}

.trade-details-container .wanted-item {
    position: relative;
}

.trade-details-container .image-row img {
    width: 35px; /* Set fixed size for consistency */
    height: 35px;
    margin-right: 5px;
    object-fit: contain; /* Ensure the image fits within its container without distortion */
    padding: 0; /* Ensure no padding that might affect clickable area */
    border: none; /* Remove any borders that could reduce the clickable area */
}

.trade-details-container .image-row img:last-child {
    margin-right: 0;
}

.toggleable-image.editable {
    cursor: pointer;
}

.toggleable-image.greyscale {
    filter: grayscale(100%);
    opacity: 0.6; /* Slightly lower opacity for unselected images */
}

/* Transition effect for toggling */
.toggleable-image {
    transition: filter 0.3s ease;
}

.toggleable-image.editable:hover {
    filter: brightness(1.1); /* Slight visual feedback on hover */
}

.toggleable-image {
    display: block; /* Ensures image occupies the full area of its container */
    background: transparent; /* No background that could affect hitbox */
    padding: 0;
    margin: 0;
}

.header-group.include-few {
    margin-top: -30px;
}

.exclude-header-group.image-group.exclude-few {
    margin-bottom: -15px;
    margin-top: -25px;
}

.include-only-header-group.include-few h3 {
    margin-bottom: 3px;
}

.trade-details-container .top-row.few-wanted {
    margin-bottom: 35px; /* Adjusts space below only when few-wanted is active */
}

@media (max-width: 480px) {
    .trade-details-container .mirror img {
        width: 40px;
        height: 40px;
    }
    .trade-details-container .image-row img {
        width: 25px; /* Set fixed size for consistency */
        height: 25px;
    }
    .trade-details-container .wanted-item img.wanted-item-img {
        width: 80px;
        height: auto;
        border-radius: 8px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .trade-details-container .wanted-list-container {
        max-height: 625px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1439px) {
}

