/* TradeProposal.css */
/* ====================================
   Overlay
   ==================================== */
   .trade-proposal-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 1rem;
}

/* ====================================
   Container
   ==================================== */
.trade-proposal-container {
    position: relative;
    background-color: #333;
    border-radius: 0.625rem;
    padding: 2rem;
    border: 1px solid #666;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 1.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 75rem;
    max-height: 50rem;
    margin: 0 auto;
}

/* ====================================
   Friendship Manager
   ==================================== */
   .trade-proposal-overlay .friendship-manager {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

/* ====================================
   Rows Styling
   ==================================== */
.trade-proposal-row {
    display: grid;
    align-items: center;
}

.trade-proposal-row-first,
.trade-proposal-row-bottom {
    grid-template-columns: 1fr 1fr;
}

.trade-proposal-row-middle {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

/* ====================================
   Pokémon Details
   ==================================== */
.trade-proposal-details {
    padding: 0.625rem;
    color: white;
}

.trade-proposal-name {
    font-size: 1.5rem;
    text-align: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.trade-proposal-type,
.trade-proposal-level {
    margin: 0.3125rem 0;
    font-size: 1rem;
}

/* ====================================
   Pokémon Image Container and Wrapper
   ==================================== */
.trade-proposal-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.trade-proposal-overlay .image-wrapper {
    position: relative;
    width: 16rem;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
}

/* Lucky Backdrop Styling */
.lucky-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
    pointer-events: none;
}

/* Pokémon Image Styling */
.trade-proposal-pokemon-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
    border-radius: 0.5rem;
    filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.3));
}

.trade-proposal-overlay .max-icon {
    position: absolute;
    top: 0;
    right: 3%;
    width: 25%;
    height: auto;
    z-index: 1; /* Ensure icons appear above the Pokémon image */
  }

/* ====================================
   Propose Button
   ==================================== */
.trade-proposal-propose-button {
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease;
}

.trade-proposal-propose-button:hover {
    background-color: #45a049;
}

.trade-proposal-propose-button:disabled {
    cursor: not-allowed;
    background-color: #ccc;
}

/* ====================================
   Stardust Count
   ==================================== */
.trade-proposal-stardust {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

.trade-proposal-stardust p {
    margin: 0;
}

.trade-proposal-stardust .stardust-icon {
    margin-top: 0.3125rem;
    width: 1.5rem;
    height: auto;
    filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.3));
}

/* ====================================
   Diagonal Arrow
   ==================================== */
.trade-proposal-arrow-image {
    width: 6.25rem;
    height: auto;
    display: block;
    margin: 0 auto;
    transform-origin: center;
    filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.3));
}

/* ====================================
   Error Message Styling
   ==================================== */
.trade-proposal-error {
    color: red;
    font-size: 1.2rem;
    text-align: center;
}

/* ====================================
   Responsive Design
   ==================================== */
@media (max-width: 480px) {
    .trade-proposal-container {
        padding: 1rem;
        width: 100%
    }
    
    .trade-proposal-overlay .image-wrapper {
        width: 8rem;
    }
    
    .trade-proposal-name {
        font-size: 1.15rem;
    }
    
    .trade-proposal-container .move-name {
        margin-left: 0.3125rem;
        font-size: 1rem;
    }
    
    .trade-proposal-propose-button {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
    }
    
    .trade-proposal-arrow-image {
        width: 3.5rem;
    }
    
    .trade-proposal-stardust {
        font-size: 1rem;
    }
    
    .trade-proposal-details {
        font-size: 0.8rem;
        padding: 0.1rem;
    }

    .friendship-manager {
        width: 90%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .trade-proposal-container {
        width: 95%;
        padding: 1.15rem;
    }
    
    .image-wrapper {
        width: 10rem;
    }
    
    .trade-proposal-arrow-image {
        width: 4rem;
    }

    .friendship-manager {
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .trade-proposal-container {
        width: 90%;
        padding: 1.5rem;
    }
    
    .image-wrapper {
        width: 12rem;
    }
    
    .trade-proposal-arrow-image {
        width: 5rem;
    }
}

@media (min-width: 1024px) {
    .trade-proposal-container {
        width: 50%;
        padding: 1rem;
    }
    
    .image-wrapper {
        width: 12rem;
    }
    
    .trade-proposal-arrow-image {
        width: 6.25rem;
    }
}