/* ListView.css */

.list-view-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
  }

  /* Only the first list-view-row will have margin-top */
.list-view-row:first-child {
    margin-top: 1rem;
}
  
  .list-view-row {
    display: flex;
    justify-content: center;
    width: 99%; /* Reduce width to add margin on the right */
    margin-bottom: 1rem;
    background-color: #333;
    margin-left: 10px;
    margin-right: 10px; /* Added more right margin */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
  .list-view-row .left-column,
  .list-view-row .center-column,
  .list-view-row .right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .list-view-row .left-column,
  .list-view-row .right-column {
    flex: 1; /* Flex 1 for the side columns */
  }
  
  .list-view-row .center-column {
    flex: 1;
  }
  
  .list-view-row .center-column .card {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .list-view-row .center-column .card h3 {
    margin: 0 0 0.1rem 0;
  }
  
  .list-view-row .center-column .card p {
    margin: 0;
  }
  
  /* Styles for the Pokémon image container */
  .list-view-row .center-column .pokemon-image-container {
    position: relative;
    margin: 0 auto;
  }
  
  .list-view-row .center-column .pokemon-image-container .pokemon-image {
    max-width: 100%;
    z-index: 2;
    position: relative;
    height: 180px;
  }
  
  .list-view-row .center-column .pokemon-image-container .lucky-backdrop {
    position: absolute;
    top: 18%;
    left: 15%;
    width: 180px;
    height: auto;
    z-index: 1;
  }
  
  .list-view-row .center-column .pokemon-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
  }
  
  .list-view-row .left-column .map-preview,
  .list-view-row .right-column .dynamic-content {
    width: 100%;
    background-color: #222;
    padding: 1rem;
    border-radius: 8px;
    color: white;
    text-align: center;
  }
  
  .list-view-row .left-column .map-preview {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .list-view-row .right-column .dynamic-content {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  