/* GlobeView.css */

.globe-view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;  /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    margin: 0;
    padding: 0;
    overflow: hidden;  /* Prevent scrollbars */
    background-color: #333;  /* Adjust background as needed */
  }
  
  .ol-popup {
    background-color: #333; /* Dark background */
    color: #fff; /* Light text */
    border: 1px solid #666; /* Lighter border */
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
  }

  