/* WantedListView.css */

/* Styles for WantedListView-specific components */

/* Pokémon Image Styling */
.wanted-list-view .pokemon-image-container {
    position: relative;
    margin: 0 auto;
  }
  
  .wanted-list-view .pokemon-image-container .pokemon-image {
    max-width: 100%;
    z-index: 2;
    position: relative;
    height: 200px;
  }
  
  .wanted-list-view .pokemon-image-container .lucky-backdrop {
    position: absolute;
    top: 18%;
    left: 15%;
    width: 180px;
    height: auto;
    z-index: 1;
  }
  
  .wanted-list-view .pokemon-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
  }
  
  /* Friendship Level Container */
  .wanted-list-view .friendship-level {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
  }
  
  /* Add more specific styles as needed */
  