/* PokemonSearchBar.css */
.pokemon-search-bar {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #111;
  padding: 0 20px;
  align-items: center;
}

.search-bar-container {
  display: flex;
  justify-content: space-between; /* Adjusts children to each end and center */
  width: 100%;
  margin: 0 auto;
}

.pokemon-variant {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.location-search {
  display: flex;
}

.ownership-status {
  flex: 1;
  display: flex;
}

.search-button-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.search-button-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.search-button-container .error-message {
  color: red;
  font-size: 14px;
  visibility: hidden; /* Make the error message invisible by default */
  white-space: nowrap; /* Prevent the error message from wrapping */
  position: absolute;
  left: calc(100% + 20px); /* Place it next to the button with a small gap */
}

.search-button-container .error-visible {
  visibility: visible; /* Only show the error message when there's an error */
}