/* MovesSearch.css */

.moves-search-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  width: 100%; /* Ensure the container takes the full width */
  height: 100px
}

.moves-search-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%; /* Ensures the sections take the full width */
}

.moves-search-option-container,
.moves-search-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative; /* Allows for better positioning control */
}

.moves-search-type-icon {
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  margin-right: 8px; /* Space between the icon and text */
}

.moves-search-select-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the dropdown horizontally */
  width: 60%; /* Control the width of the dropdown container */
  margin: 0 auto; /* Center the container in the available space */
}

.moves-search-select {
  appearance: none;
  -webkit-appearance: none;
  background-color: #333;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  border: none;
  cursor: pointer;
  outline: 1px solid #a3a3a3;
  text-align-last: center; /* Centers the text inside the select dropdown */
  width: 100%; /* Make the select take full width of its container */
  min-width: 150px; /* Ensures minimum width large enough for longest names */
  padding-top: 2px;
  padding-bottom: 4px;
}

.moves-search-select option {
  background-color: #333;
  color: white;
  text-align: center; /* Aligns text of options to center */
}

.moves-search-name {
  white-space: nowrap;
  background-color: transparent;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  width: 100%; /* Ensures the name takes full width */
  min-width: 150px; /* Ensures minimum width large enough for longest names */
}

.moves-search-icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.moves-search-add-move-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background-color: transparent;
  color: white;
  font-size: 24px;
  border: 2px solid white;
  border-radius: 50%; /* Adjusted for circular design */
  margin-top: 5px;
  cursor: default; /* Default non-clickable cursor */
}

/* Apply pointer cursor only when in editable mode */
.moves-search-container.moves-search-editable .moves-search-add-move-button {
  cursor: pointer; /* Cursor changes to pointer when editable */
}

.moves-search-move-add-icon {
  display: inline-block;
  padding: 0;
  line-height: 1; /* Adjust line height for vertical alignment */
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .moves-search-container {
    width: unset;
    height: unset;
  }
  .moves-search-select {
    font-size: 12px;
    min-width: 120px;
  }
}
