/* Container styles for the options */
.owned-options-container {
    display: flex;
    flex-direction: column; /* Arrange in a single column */
    align-items: center; /* Center align the items */
    height: 100%; /* Ensure it takes the full height of its container */
    justify-content: center;
    margin-top: 10px;
  }
  
  /* Column for checkboxes and IVSearch */
  .options-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
  }
  
  /* Row for the checkboxes */
  .checkbox-row {
    display: flex;
    flex-direction: row; /* Arrange checkboxes in a row */
    align-items: center; /* Center checkboxes vertically */
  }
  
  /* Individual fields for each checkbox */
  .field {
    margin-right: 15px; /* Space between checkboxes */
  }
  
  /* Full-width row for IVSearch component */
  .iv-search-row {
    width: 100%; /* Takes full width of the column */
    display: flex;
    justify-content: center; /* Center the IVSearch component */
  }  