/* StatsInput.css */
.stat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-bottom: 5px;
    margin-top: -5px;
}

.stat-display {
    position: relative;
    margin: 2px;
    padding: 2px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto; /* Adjusted for label and content */
    align-items: center;
    margin-bottom: 10px;
}

.stat-label {
    text-align: left; /* Align label text to the left */
    justify-self: start; /* Align the label to the start of the column */
}

.stat-content {
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    width: 40px; /* Adjust width as needed */
}

.stat-value, .stat-input {
    width: 20px;
    height: 20px;
    font-size: 14px;
    padding: 0;
    color: white;
    background-color: transparent;
    text-align: center;
    border-radius: 2px;
    line-height: normal;
}

.stat-input {
    border: 1px solid #a3a3a3; /* Visible border for input */
}

.stat-input::-webkit-outer-spin-button,
.stat-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.stat-bar-bg, .stat-bar {
    position: absolute;
    height: 15px;
    bottom: -20px;
    width: 75%; /* Gauge width */
    border-radius: 7.5px;
    left: 12.5%; /* Centering the gauge */
}

.stat-bar-bg {
    background-color: #ccc;
    margin-bottom: 5px;
}

.stat-bar {
    background-color: #ef9219;
    width: 0%;
    transition: width 0.3s ease-in-out;
    margin-bottom: 5px;
}

.stat-bar.full {
    background-color: #c45856;
}

.stat-display::after, .stat-display::before {
    content: '';
    position: absolute;
    bottom: -20px;
    width: 2px;
    height: 15px;
    background-color: white;
    z-index: 2;
    margin-bottom: 5px;
}

.stat-display::after {
    left: calc(12.5% + 25%);
}

.stat-display::before {
    left: calc(12.5% + 50%);
}
