/* OwnedPopup.css */

/* General Styling for Popup Container */
.owned-popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -5px;
}

/* Adjust the image styling */
.owned-popup-container .pokemon-image {
    width: 50%;
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0px auto;
}

/* Ensure IVDisplay takes full width */
.owned-popup-container .iv-display-container {
    width: 100%;
    box-sizing: border-box;
}

/* Header styling */
.owned-popup-header {
    font-size: 1.1em;
    margin-bottom: 5px;
}

/* Shiny indicator size */
.owned-popup-container .shiny-indicator {
    font-size: 1em;
}

/* Emphasis text at the bottom */
.owned-popup-container em {
    font-size: 0.9em;
    margin-top: 10px;
}

.owned-popup-container p {
    margin-block-start: 5px;
    margin-block-end: 5px;
}

/* Adjust font size and spacing in details */
.owned-popup-container .pokemon-details {
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
}

/* MoveDisplay styling within OwnedPopup */
.owned-popup-container .moves-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0px;
}

.owned-popup-container .moves-container .move {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
}

.owned-popup-container .moves-container .move p {
    margin-left: 5px;
    font-size: 10px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* Type Icon styling */
.moves-container .move-type-icon {
    width: 18px;
    height: 18px;
}

/* Media Queries for Responsive Adjustments */

/* Small screens */
@media (max-width: 480px) {
    .owned-popup-container .moves-container .move p {
        font-size: 12px;
    }
    .owned-popup-container .moves-container .move-type-icon {
        width: 16px;
        height: 16px;
    }
}

/* Medium screens */
@media (min-width: 481px) and (max-width: 767px) {
    .owned-popup-container .moves-container .move p {
        font-size: 14px;
    }
    .owned-popup-container .moves-container .move-type-icon {
        width: 18px;
        height: 18px;
    }
}

/* Large screens */
@media (min-width: 768px) and (max-width: 1023px) {
    .owned-popup-container .moves-container .move p {
        font-size: 10px;
    }
    .owned-popup-container .moves-container .move-type-icon {
        width: 14px;
        height: 14px;
    }
}

/* Extra-large screens */
@media (min-width: 1024px) {
    .owned-popup-container .moves-container .move p {
        font-size: 12px;
    }
    .owned-popup-container .moves-container .move-type-icon {
        width: 16px;
        height: 16px;
    }
}
