kafka/data/kafka
kafka/data/zookeeper
kafka/.env

receiver/__pycache__
receiver/.env.development
receiver/app.log

storage/__pycache__
storage/.env.development
storage/app.log

reader/__pycache__
reader/.env.development
reader/app.log