/* TradeInstance.css */

.trade-instance {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.trade-instance .top-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  min-height: 20px; /* Adjust this value based on the EditSaveComponent's height */
}

.trade-instance .top-row h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  text-align: center;
}

.trade-instance .CPComponent {
  margin-top: 10px;
}

.trade-instance .edit-save-container {
  margin-right: auto;
}

.trade-instance .edit-save-container {
  flex-shrink: 0; /* Ensures this container doesn't grow or shrink */
}

.trade-instance .background-select-row {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.trade-instance .background-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 10;
}

.trade-instance .background-select-row.active .background-icon {
  cursor: pointer;
}

.trade-instance .image-container {
  position: relative;
  width: 240px;
  height: 240px;
}

.trade-instance .background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.trade-instance .background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.3) 70%, transparent 100%);
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7) 45%, rgba(0, 0, 0, 0.3) 65%, transparent 70%);
}

.trade-instance .brightness-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 70%);
  z-index: 2;
}

.trade-instance .pokemon-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.trade-instance .pokemon-image-container img {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
}

.trade-instance .max-badge {
  position: absolute;
  top: 2%; /* Position at the top */
  right: 2%; /* Position at the right */
  width: 35%;
  height: auto;
  z-index: 4;
  max-width: 100%;
  height: auto;
}

.trade-instance .name-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.trade-instance .level-gender-container {
  width: 100%;
  display: flex;            /* Make the container a flexbox */
  justify-content: space-between; /* Distribute space between children */
  align-items: center;      /* Center children vertically */
  position: relative;
}

.trade-instance .level-component {
  display: flex;            /* Ensure level-component itself is flexbox */
  align-items: center;      /* Vertically center content inside level-component */
  margin-top: 10px;
  margin-bottom: 5px;
  flex-grow: 1;             /* Allow the level-component to take up flexible space */
  justify-content: center;  /* Center the content of level-component horizontally */
}

.trade-instance .gender-container {
  display: flex;            /* Ensure gender-container itself uses flexbox */
  justify-content: flex-end; /* Align content inside gender-container to the right */
  align-items: center;      /* Vertically align content in gender-container */
  margin-left: auto;        /* Push the gender-container to the far right */
}

.trade-instance .stats-container {
  display: flex;
  width: 100%;
}

.trade-instance .type-container {
  flex: 1;
}

.trade-instance .moves-container {
  width: 100%;
}

.trade-instance .iv-component {
  width: 100%;
}

.trade-instance .location-container {
  width: 100%;
}

.trade-instance .date-container {
  width: 100%;
}

.trade-instance-overlay .overlay-row {
  align-items: center;
  gap: 10px
}

@media (max-width: 480px) {
  .trade-details-window {
    margin-bottom: 70px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .trade-details-window {
    margin-bottom: 80px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .trade-instance-overlay {
    transform: scale(.75);
    transform-origin: center;
    overflow-y: visible;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .trade-details-container .wanted-item img.wanted-item-img {
    width: 100px !important;
  }

  .trade-instance-overlay .overlay-row {
    flex-wrap: nowrap;
  }
}