/* IVDisplay.css */

.iv-display-container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Take full height of the parent container */
    width: 70%;
    padding-bottom: 10px;
}

.iv-display-stat {
    position: relative;
    margin: 5px 0;
    padding: 2px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto; /* Adjusted for label and content */
    align-items: center;
    margin-bottom: 10px;
}

.iv-display-label {
    text-align: left; /* Align label text to the left */
    justify-self: start; /* Align the label to the start of the column */
}

.iv-display-content {
    display: flex;
    width: 40px; /* Adjust width as needed */
}

.iv-display-value {
    width: 20px;
    height: 20px;
    font-size: 14px;
    padding: 0;
    background-color: transparent;
    text-align: center;
    border-radius: 2px;
    line-height: normal;
}

.iv-display-bar-bg, .iv-display-bar {
    position: absolute;
    height: 15px;
    bottom: -20px;
    width: 75%; /* Gauge width */
    border-radius: 7.5px;
    left: 12.5%; /* Centering the gauge */
}

.iv-display-bar-bg {
    background-color: #ccc;
    margin-bottom: 5px;
}

.iv-display-bar {
    background-color: #ef9219;
    width: 0%;
    transition: width 0.3s ease-in-out;
    margin-bottom: 5px;
}

.iv-display-full {
    background-color: #c45856;
}

.iv-display-stat::after, .iv-display-stat::before {
    content: '';
    position: absolute;
    bottom: -20px;
    width: 2px;
    height: 15px;
    background-color: white;
    z-index: 2;
    margin-bottom: 5px;
}

.iv-display-stat::after {
    left: calc(12.5% + 25%);
}

.iv-display-stat::before {
    left: calc(12.5% + 50%);
}