/* Light-Mode.css */
.navbar, .header, .overlay-content, .pokemon-search-bar {
    background-color: #e2ead5;
}

.navbar h1, .evo-line-checkbox, .overlay-content, .iv-input, .iv-value, .pokemon-search-bar {
    color:black
}

.evo-line-custom-checkbox, .add-move-button {
    border: 2px solid black
}
.pokemon-container, .move-select, .move-select option, .App  {
    background-color: #f8fff9;
}

.pokemon-card h2, p, .add-move-button, .favorite-component, .move-select, .move-select option {
    color: black
}

.favorite-component img {
    filter: invert(1); /* Apply a black overlay effect */
}

.edit-save-container .icon-button img {
    filter: none
}

/* Light mode specific styles */
.lucky-backdrop {
    filter: brightness(1.0); /* Set higher brightness for light mode */
}

