/* Light-Mode.css */

/* Background Colors */
.list-view-row,
.overlay-content,
.pokemon-action-overlay .overlay-content,
.update-for-trade-modal-overlay .modal-content,
.trade-proposal-container,
.trade-card,
.mega-modal-content,
.modal-overlay .modal,
.ol-popup,
.account-form .user-details,
.login-form,
.register-form,
.moves-search-select,
.location-options-overlay,
.proposed-trade-view .details-content,
.partner-modal-overlay .modal-content,
.pokemon-options-overlay .option-card,
.pokemon-options-overlay .pokemon-card,
.fusion-pokemon-selection-overlay .fusion-modal-content {
    background-color: #e0f0e5;
}

.pokemon-options-overlay .option-card:hover {
    background-color: #ffffff;
}

.account-form,
.pokemon-options-overlay .overlay-content {
    background-color: rgb(182, 212, 188);
}

.navbar,
.header,
.pokemon-search-bar,
.pokemon-container,
.move-select,
.move-select option,
.App,
.update-for-trade-modal-overlay .instance-item,
.mega-pokemon-item,
.account-page,
.login-page,
.register-page,
.success-container,
.mainButtonsContainer,
.confirmation-content,
.header-section.search-section {
    background-color: #f8fff9;
}

.pokemon-card.highlighted,
.pokemon-options-overlay .pokemon-card:hover,
.header-fast-select {
    background-color: #e3f7dc;
}

/* Box Shadows */
.header {
    box-shadow: 2px -4px 2px 2px #f8fff9;
}

.header .toggle-text {
    color: #abbbb8
}
.header-section.search-section input {
background-color: #e7f3df;
}

/* Text Colors */
.navbar h1,
.header,
.evo-line-checkbox,
.iv-input,
.iv-value,
.pokemon-search-bar,
.list-view,
.moves-search-select,
.moves-search-move-add-icon,
.moves-search-move-add-icon,
.list-view-container,
.pokemon-action-overlay .overlay-content,
.update-for-trade-modal-overlay .instance-item,
.update-for-trade-modal-overlay .modal-content h2#modal-title,
.move-name,
.trade-card,
.loading-text,
.mega-modal-content,
.mega-pokemon-item,
.modal-overlay .modal,
.ol-popup,
.account-form .user-details .grid-item,
.account-form h1,
.register-page .register-form,
.location-options-overlay h4,
.pokemon-card .cp-container .cp-display,
.proposed-trade-view .details-content,
.partner-modal-overlay .modal-content,
.evo-checkbox:checked + .evo-line-custom-checkbox::after,
.pokemon-options-overlay .overlay-header,
.pokemon-options-overlay .option-text,
.pokemon-options-overlay .preview-text,
.fusion-pokemon-selection-overlay .fusion-modal-content,
.header .free-toggle-text,
.pokemon-card {
    color: #48615e;
}

.pokemon-card h2,
p,
.add-move-button,
.favorite-component,
.move-select,
.move-select option {
    color: #48615e;
}

/* Borders */
.header .collect-ui-toggle {
    border: 1px solid black;
}

.evo-line-custom-checkbox,
.add-move-button,
.moves-search-add-move-button {
    border: 2px solid black;
}

/* Filters */
.favorite-component.not-filled img,
.background-button,
.reset-container img,
.reset img {
    filter: invert(1); /* Apply a black overlay effect */
}

.edit-save-container .icon-button img,
.iv-reset-image {
    filter: none;
}

/* Gradients and Shadows */
.action-menu-overlay, .sort-menu-content {
    background: linear-gradient(to bottom right, #e0f0e5, #34807d);
}

.action-menu-button-image {
    filter: drop-shadow(0 0 3px #000000); /* Adds blue glow around opaque parts */
}

/* Hover Effects */
.pokemon-options-overlay .option-card.pokedex:hover {
    background-color: #adf3ff;
}

/* Light mode specific styles */
.lucky-backdrop {
    filter: brightness(1.0); /* Set higher brightness for light mode */
}

.header-underline {
    background-color: #48615e;
}
.header .toggle-text.active,
.pokemon-card h2,
p,
.overlay-content {
    color: #48615e;
}
/* Scrollbar Styling */
body::-webkit-scrollbar-track {
    background-color: #f8fff9; /* Light background for the track */
}

body::-webkit-scrollbar-thumb {
    background-color: #888; /* Slightly darker thumb for contrast */
    border: 3px solid #f8fff9; /* Border matching the background color */
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #666; /* Darken the thumb on hover for visibility */
}

/* Scrollbar buttons (One button at each end with switched colors) */
body::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-color: #f8fff9; /* Light background matching the track */
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNSIgdmlld0JveD0iMCAwIDEwIDUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBvbHlnb24gcG9pbnRzPSIwLDUsNSwwLDEwLDVMMCw1IiBmaWxsPSIjODg4ODg4Ii8+PC9zdmc+'); /* Darker gray up arrow */
}

body::-webkit-scrollbar-button:single-button:vertical:increment {
    background-color: #f8fff9; /* Light background matching the track */
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNSIgdmlld0JveD0iMCAwIDEwIDUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBvbHlnb24gcG9pbnRzPSIwLDAgNSw1LDEwLDAiIGZpbGw9IiM4ODg4ODgiLz48L3N2Zz4='); /* Darker gray down arrow */
}
