/* OwnedInstance.css */

.owned-instance {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.owned-instance .top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.owned-instance .top-row .cp-component-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.owned-instance .cp-display {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: -10px;
  font-weight: bold;
}

.owned-instance .top-row .favorite-component {
  margin-left: auto;
}

.owned-instance .pokemon-image-container {
  position: relative;
  width: 100%; /* Make sure the container spans the full width */
}

.owned-instance .background-select-row {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.owned-instance .background-icon {
  position: absolute;
  top: 10px;         /* Push it down so it appears below the favorite icon */
  right: -3px;
  width: 30px;       /* Set a fixed width */
  height: 30px;      /* Set a fixed height */
  z-index: 10;
  object-fit: contain; /* Ensures the image scales properly */
  cursor: pointer;
}

.owned-instance .background-select-row.active .background-icon {
  cursor: pointer;
}

.owned-instance .image-container {
  position: relative;
  width: 240px;
  height: 240px;
}

.owned-instance .background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.owned-instance .background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.3) 70%, transparent 100%);
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7) 45%, rgba(0, 0, 0, 0.3) 65%, transparent 70%);
}

.owned-instance .brightness-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 70%);
  z-index: 2;
}

.owned-instance .pokemon-image-container {
  position: relative;
  display: inline-block;  /* Shrink-wraps to fit content */
  z-index: 3;
}

.owned-instance .max-badge {
  position: absolute;
  top: 2%; /* Position at the top */
  right: 2%; /* Position at the right */
  width: 35%;
  height: auto;
  z-index: 5;
  max-width: 100%;
  height: auto;
}

.owned-instance .purified-badge {
  position: absolute;
  bottom: 2%;
  left: 2%;
  width: 20%;
  height: auto;
  z-index: 4;
  max-width: 100%;
  height: auto;
}

.owned-instance .lucky-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* or cover depending on desired effect */
  z-index: 4;
}

.owned-instance .pokemon-image {
  position: relative;
  z-index: 5;
  max-width: 100%;
  height: auto;
}

.owned-instance .pokemon-image-container img {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
}

.owned-instance .purify-name-shadow-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  height: 2rem;
}

.owned-instance .lucky-component {
  flex: 0 0 auto; /* Only takes space if it renders */
  margin-right: auto; /* Pushes towards the left */
}

.owned-instance .purify-component {
  flex: 0 0 auto; /* Only takes space if it renders */
  margin-left: auto; /* Pushes towards the right */
}

.owned-instance .name-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  white-space: nowrap; /* Prevents text from wrapping */
}

.owned-instance .level-gender-row {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between for gender and lucky components */
  width: 100%;
  position: relative; /* Allows centering of LevelComponent */
  margin-bottom: 10px;
}

.owned-instance .level-component {
  position: absolute; /* Take the element out of the normal flow */
  left: 50%; /* Move the element to the center of the container */
  transform: translateX(-50%); /* Adjust to truly center it horizontally */
  z-index: 1; /* Ensure it appears above other elements if needed */
}

.owned-instance .gender-container {
  flex: 1; /* Ensures LuckyComponent and GenderComponent take equal space */
}

.owned-instance .weight-type-height-container {
  display: flex;
  align-items: center; /* Align items vertically */
  width: 100%;
  justify-content: center; /* Default behavior with weight and height */
}

.weight-container,
.height-container {
  flex: 1; /* Allow equal space for weight and height components */
}

.owned-instance .weight-type-height-container.only-type .weight-container,
.owned-instance .weight-type-height-container.only-type .height-container {
  display: none; /* Hide these containers when not rendered */
}

.owned-instance .weight-component, .owned-instance .type-component, .owned-instance .height-component {
  display: flex;
  align-items: center;
}

.owned-instance .max-mega-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.owned-instance .max-component,
.owned-instance .mega-component {
  flex: 1;
}

.owned-instance .moves-content, 
.owned-instance .iv-component, 
.owned-instance .location-caught-component, 
.owned-instance .date-caught-component {
  width: 100%; /* Ensure these containers take up the full width */
}


.owned-instance .level-component label {
  font-weight: bold;
}

.owned-instance .level-component input {
  padding: 2px;
  font-size: 1rem;
}

.owned-instance .level-component .error {
  color: red;
  font-size: 0.8rem;
}


@media (max-width: 480px) {
}

@media (min-width: 481px) and (max-width: 767px){
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .owned-instance-window {
    transform: scale(0.75);
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  /* Ensure child width does not exceed scaled container space */
  .owned-instance-window .overlay-content .owned-instance {
    width: 100%;
  }
}
