/* GenderComponent.css */
.gender-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the far right */
}

.gender-display {
  padding: 4px;
  font-size: 14px;
  cursor: default; /* Default cursor for gender display */
  display: flex;
  align-items: center;
  height: 24px; /* Set a fixed height */
}

.gender-display img {
    width: 24px;
    height: 24px;
}

.gender-text {
  font-size: 10px;
}

.gender-container.editable .gender-display {
  cursor: pointer; /* Pointer cursor only when editable */
}

