/* Default styles for larger screens */
.wanted-details-container .trade-list-container.large-list {
    grid-template-columns: repeat(5, 1fr); /* 5 items per row if the list is large */
}

.wanted-details-container .trade-list-container.xlarge-list {
    grid-template-columns: repeat(6, 1fr); /* 6 items per row if the list exceeds 15 */
}

.wanted-details-container .trade-list-container.xxlarge-list {
    grid-template-columns: repeat(9, 1fr); /* 9 items per row if the list exceeds 30 */
}

/* Styles for small screens */
@media (max-width: 1023px) {
    .wanted-details-container .trade-list-container.max-3-per-row {
        grid-template-columns: repeat(3, 1fr); /* Max 3 items per row on small screens */
    }
}