/* Register.css */

.register-page {
    background-color: #333;
    height: calc(100vh - 80px);
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

@media (max-width: 480px) {
    .register-page {
        height: calc(83vh - 74px);
    }
    .register-page .register-form {
        transform: scale(.75);
        font-size: 0.6em;
    }
    .register-form input, .location-warning {
        font-size: 0.6rem;
    }
    .register-form input[type="checkbox"] {
        margin-top: 10px; 
        display: block;
    }

    .register-form button[type="button"] {
        font-size: 0.6rem;
        height: 35px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .register-page {
        height: calc(80vh - 70px);
    }
    .register-page .register-form {
        transform: scale(.85);
        font-size: 0.8em;
    }
    .register-form input, .location-warning {
        font-size: 0.75rem;
    }
    .register-form input[type="checkbox"] {
        margin-top: 10px; 
        display: block;
    }
    .register-form button[type="button"] {
        font-size: 0.7rem;
        height: 37px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .register-page {
        height: calc(80vh - 101px);
    }
    .register-page .register-form {
        transform: scale(.85);
        font-size: 0.9em;
    }
    .register-form input, .location-warning {
        font-size: 0.85rem;
    }
    .register-form input[type="checkbox"] {
        display: block;
    }
    .register-form button[type="button"] {
        font-size: 0.8rem;
    }
}

@media (min-width: 1024px) {
    .register-page {
        height: calc(100vh - 86px);
    }
    .register-page .register-form {
        transform: scale(1);
        font-size: 1em;
    }
    .register-form input, .location-warning {
        font-size: 0.85rem;
    }
    .register-form input[type="checkbox"] {
        display: block;
    }
    .register-form button[type="button"] {
        font-size: 0.8rem;
    }
}


