/* VariantSearch.responsive.css */

@media (max-width: 480px) {
  .pokemon-variant-container .main-content {
    flex-direction: column;
    min-width: 100%;
    align-items: center;
  }
  .pokemon-variant-container .button-container img {
    width: 20px;
    height: 20px;
  }
  .pokemon-variant-container {
    padding-left: 0px
  }
  .pokemon-variant-details {
    align-items: center;
    width: 100%;
  }
  .pokemon-search-row {
    width: 65%;
  }
  .pokemon-search-row input[type="text"] {
    width: 100%;
  }
  .pokemon-variant-container .button-container button {
    width: 40px;
    height: 40px;
  }

  .pokemon-moves-gender-section {
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .pokemon-variant-container h3 {
    margin-block-end: 10px;
    margin-block-start: 0px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .pokemon-variant-container {
    padding-left: unset;
    padding-right: 10px;
  }
  .pokemon-variant-container .main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  /* Put details and image in the same row */
  .pokemon-variant-details,
  .pokemon-variant-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pokemon-variant-container .main-content {
    min-width: 480px;
    justify-content: center;
  }
  .pokemon-search-row input[type="text"] {
    width: 200px;;
  }

  .pokemon-variant-container .button-container button {
    width: 45px;
    height: 45px;
  }

  .pokemon-variant-container .button-container img {
    width: 28px;
    height: 28px;
  }

  /* Move moves and gender section to a new row */
  .pokemon-moves-gender-section {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-left: unset;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .pokemon-variant-container {
    padding-left: unset;
    padding-right: 10px;
  }
  .pokemon-variant-container .main-content {
    display: flex;
    flex-wrap: wrap;
  }

  /* Put details and image in the same row */
  .pokemon-variant-details,
  .pokemon-variant-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pokemon-variant-container .main-content {
    min-width: 480px;
    justify-content: center;
    gap: 5%;
  }
  .pokemon-search-row input[type="text"] {
    width: 200px;
  }

  .pokemon-variant-container .button-container button {
    width: 45px;
    height: 45px;
  }

  /* Move moves and gender section to a new row */
  .pokemon-moves-gender-section {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-left: unset;
  }

  .pokemon-variant-container .button-container img {
    width: 32px;
    height: 32px;
  }
  .pokemon-variant-container .button-container button {
    padding: 8px;
  }
}


@media (min-width: 1024px) and (max-width: 1439px) {
  .pokemon-variant-container {
    padding-left: unset;
    padding-right: 10px;
  }
  .pokemon-variant-container .main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
  }

  /* Put details and image in the same row */
  .pokemon-variant-details,
  .pokemon-variant-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pokemon-variant-container .main-content {
    min-width: 480px;
  }
  .pokemon-search-row input[type="text"] {
    width: 240px;
  }

  .pokemon-variant-container .button-container button {
    width: 50px;
    height: 50px;
  }

  /* Move moves and gender section to a new row */
  .pokemon-moves-gender-section {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-left: unset;
  }

  .pokemon-variant-container .button-container img {
    width: 32px;
    height: 32px;
  }
  .pokemon-variant-container .button-container button {
    padding: 8px;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .pokemon-variant-details {
    width: 160px;
  }
  .pokemon-variant-container .button-container img {
    width: 28px;
    height: 28px;
  }
  .main-content {
    height: 200px;
  }
  .main-content .pokemon-variant-image {
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 25px;
    margin-right: 10px;
  }
  .pokemon-variant-container .main-content {
    min-width: unset;
  }
  .pokemon-moves-gender-section {
    width: 120px;
    height: 200px;
    margin-bottom: unset;
  }

  .pokemon-search-row input[type="text"] {
    width: 140px;
  }

  .pokemon-variant-container .button-container button {
    width: 42px;
    height: 38px;
  }
  .pokemon-variant-container .button-container img {
    width: 24px;
    height: 24px;
  }
  .pokemon-variant-container .button-container button {
    padding: 8px;
  }
  .form-dropdown,
  .costume-dropdown {
    display: flex;
    align-items: center;
  }

  .form-dropdown label,
  .costume-dropdown label {
    margin-right: 8px;
    white-space: nowrap;
  }

  .form-dropdown select,
  .costume-dropdown select {
    width: auto; /* Adjust width as needed */
  }
}
