/* AccountForm.css */

.account-form {
    background-color: #111; /* Dark background for the page */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px; /* Reduced max width for a more centered look */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-form h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.user-details {
    background-color: #222; /* Darker background for the user details section */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%; /* Full width to use space efficiently */
}

.user-details .left-column,
.user-details .right-column {
    flex: 1; /* Equal flex to divide the space equally */
    margin: 0 10px; /* Spacing between columns */
    display: flex;
    flex-direction: column;
}

.user-details label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 500;
}

.user-details input,
.user-details select,
.user-details checkbox {
    width: 90%; /* Reduce the width of inputs to not stretch fully */
    padding: 8px;
    margin-top: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #111;
    background-color: #fff;
    text-align: center; /* Center text inside inputs */
}

.user-details input[type="checkbox"] {
    width: auto; /* Default width for checkboxes */
    margin-left: auto; /* Align checkbox to the right */
    margin-right: auto; /* Center checkbox horizontally */
}

.buttons {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around; /* Even spacing around buttons */
}

.account-form button {
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    flex-grow: 1;
    margin: 0 10px; /* Space between buttons */
}

.edit-btn {
    background-color: #28a745; /* Green for edit */
}

.logout-btn {
    background-color: #007bff; /* Blue for logout */
}

.delete-btn {
    background-color: #dc3545; /* Red for delete */
}

.account-form button:hover {
    opacity: 0.85; /* Slight opacity change on hover */
}

.account-form button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

