/* evolutionShortcut.css */

.evolution-shortcut {
    display: flex;
    justify-content: space-between; /* Spreads out items to both ends */
    width: 100%; /* Full width */
}

.evolves-from,
.evolves-to {
    align-items: center; /* Adjusts alignment */
    flex-grow: 1; /* Allows the div to grow to take available space */
}

.evolution-item img {
    width: 80px; /* Adjust as needed */
    height: 80px; /* Adjust as needed, keeping aspect ratio in mind */
    object-fit: cover; /* Optional, for maintaining aspect ratio */
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2)); /* Adds a more prominent shadow to the non-transparent parts */
}


.evolution-item {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    cursor: pointer; /* Optional: changes cursor on hover */
}

.evolves-to {
    max-height: 550px; /* Adjust based on your needs */
    overflow-y: auto; /* Enables vertical scrolling */
    scrollbar-width: none; /* Hides scrollbar for Firefox */
}

.evolves-to::-webkit-scrollbar {
    display: none; /* Hides scrollbar for WebKit browsers like Chrome and Safari */
}

.overlay-evolves-from {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
}

/* Positioning for evolvesTo */
.overlay-evolves-to, .overlay-mega-evolutions {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
}